.label--clarification {
  left: 1rem;
  top: -14.8rem; }

.title__clarifications {
  padding: 0.3rem;
  width: 10.5vw;
  border-bottom: 5px solid #175593; }

.__box-table-clarification {
  width: 100%;
  margin-top: 1rem;
  min-height: 75vh;
  max-height: 90vh;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
  overflow: visible; }
  .__box-table-clarification .__box-table--left {
    width: 53%; }
    .__box-table-clarification .__box-table--left .__add_to_cart--place {
      float: right;
      margin-left: 4.2rem;
      padding-left: 2rem; }
    .__box-table-clarification .__box-table--left ._add_to_cart--float-r {
      float: right;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }
  .__box-table-clarification .__border-none {
    border: none; }
  .__box-table-clarification .__box-table--right {
    padding-left: 1rem;
    width: 47%;
    position: relative; }
    .__box-table-clarification .__box-table--right .__table-item--thead {
      height: 1.5rem; }
      .__box-table-clarification .__box-table--right .__table-item--thead ._cart_item--style {
        padding: 0.2rem 0rem 0.2rem 2.35rem; }
    .__box-table-clarification .__box-table--right .__clarification-box--description {
      position: absolute;
      margin-top: 0.5rem;
      height: 40%;
      width: 29vw; }
      .__box-table-clarification .__box-table--right .__clarification-box--description h6 {
        font-weight: 700;
        padding: 1rem; }
      .__box-table-clarification .__box-table--right .__clarification-box--description div {
        padding: 0rem 1.2rem 0.1rem 1.2rem; }
  .__box-table-clarification h6 {
    font-weight: 700; }
  .__box-table-clarification .__h6--width {
    font-weight: 700;
    width: 150%; }

.text--center {
  text-align: center; }
