.bck-color-table {
  background-color: #828282; }

.label--exclusions {
  left: 1rem;
  top: -14.8rem; }

.title__exclusions {
  padding: 0.3rem;
  width: 8.4vw;
  border-bottom: 5px solid #175593; }

.__box-table-exclusion {
  width: 100%;
  margin-top: 1rem;
  min-height: 70vh;
  max-height: 80vh;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
  overflow: visible; }
  .__box-table-exclusion .__box-table--left {
    width: 53%; }
    .__box-table-exclusion .__box-table--left .__add_to_cart--place {
      float: right;
      margin-left: 4.2rem;
      padding-left: 2rem; }
  .__box-table-exclusion .__border-none {
    border: none; }
  .__box-table-exclusion .__box-table--right {
    padding-left: 1rem;
    width: 47%;
    position: relative; }
    .__box-table-exclusion .__box-table--right .__exclusion-box--description {
      position: absolute;
      height: 40%;
      width: 29vw; }
      .__box-table-exclusion .__box-table--right .__exclusion-box--description h6 {
        font-weight: 700;
        padding: 1rem; }
      .__box-table-exclusion .__box-table--right .__exclusion-box--description div {
        padding: 0rem 1.2rem 0.1rem 1.2rem; }
  .__box-table-exclusion h6 {
    font-weight: 700; }

.__add-exclusion--box .__add_new_excl--margin {
  margin-top: 1rem;
  margin-left: 1rem; }

.__box-add-bid-cancel--margins {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 1rem; }
  .__box-add-bid-cancel--margins a {
    text-decoration: none;
    color: #FFFFFF; }

.input--label {
  top: -.15rem;
  left: 2.8rem; }

._input--input {
  margin-top: 0rem;
  margin-right: 1rem;
  margin-bottom: 0rem;
  margin-left: 0.5rem; }
