.bck-color-table {
  background-color: #828282; }

.label--exclusions {
  left: 1rem;
  top: -14.8rem; }

.title__exclusions {
  padding: 0.3rem;
  width: 8.4vw;
  border-bottom: 5px solid #175593; }

.__box-table-exclusion {
  width: 100%;
  margin-top: 1rem;
  min-height: 75vh;
  max-height: 90vh;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
  overflow: visible; }
  .__box-table-exclusion .__box-table--left {
    width: 53%; }
    .__box-table-exclusion .__box-table--left .__add-exclusion--box .__add_new_excl--margin {
      margin-top: 1rem;
      margin-left: 1rem; }
    .__box-table-exclusion .__box-table--left .__add-exclusion--box .__add_to_cart--margin {
      margin-top: 1rem;
      margin-left: 0.5rem; }
    .__box-table-exclusion .__box-table--left .__add_to_cart--place {
      float: right;
      margin-left: 4.2rem;
      padding-left: 2rem; }
    .__box-table-exclusion .__box-table--left ._add_to_cart--float-r {
      float: right;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }
    .__box-table-exclusion .__box-table--left .__exclusion-item--head {
      text-align: center;
      height: 2.5rem; }
      .__box-table-exclusion .__box-table--left .__exclusion-item--head ._item-padding {
        padding: 0.55rem 15rem 0.55rem 0.35rem;
        font-size: 0.90rem;
        background-color: #828282; }
  .__box-table-exclusion .__border-none {
    border: none; }
  .__box-table-exclusion .__box-table--right {
    padding-left: 1rem;
    width: 47%;
    position: relative; }
    .__box-table-exclusion .__box-table--right .__table-item--thead {
      height: 1.5rem; }
      .__box-table-exclusion .__box-table--right .__table-item--thead ._cart_item--style {
        padding: 0.2rem 0rem 0.2rem 2.35rem; }
    .__box-table-exclusion .__box-table--right .__exclusion-box--description {
      position: absolute;
      margin-top: 0.5rem;
      height: 40%;
      width: 29vw; }
      .__box-table-exclusion .__box-table--right .__exclusion-box--description h6 {
        font-weight: 700;
        padding: 1rem; }
      .__box-table-exclusion .__box-table--right .__exclusion-box--description div {
        padding: 0rem 1.2rem 0.1rem 1.2rem; }
  .__box-table-exclusion h6 {
    font-weight: 700; }
  .__box-table-exclusion .__h6--width {
    font-weight: 700;
    width: 150%; }

.input--label {
  top: 0.9rem;
  left: 1.9rem; }
