@import '../variables';
@import '../mixins';

@mixin _input {
    border: 1px solid transparent;
    // line-height: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0 auto;
}

// %form_input_template {

// }


._form-input {
    @include _input;
    display: block;
    padding: .2rem;
    border-radius: .5rem;
    border-color: #BDBDBD;
    text-indent: 5px;
    height: 2.5rem;
    margin-top: $m1rem;

    &:focus {
        border-color: rgb(255, 221, 72);
        outline: 0;
    }

    &--sm {
        width: 4rem;
        margin-top: $m1rem;
    }

    &--m {
        width: 8rem;
        margin-top: $m1rem;
    }

    &--lg {
        width: 20rem;
        margin-top: $m1rem;
    }
}

._form-input-size--s {
    font-size: 0.33rem;
}

._form-input-size--m {
    font-size: 0.5rem;
}

._form-input-size--l {
    font-size: 1rem;
}

._form-search {
    display: block;
    margin-right: $m1rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: #F2F2F2;
}

._form-text_area {
    @include _input;
    margin: 0;
    display: block;
    padding: .2rem;
    border-radius: .5rem;
    border-color: #BDBDBD;
    text-indent: 5px;
    height: 8rem;
    width: 22vw;
    margin-top: 1rem;

    &:focus {
        border-color: rgb(255, 221, 72);
        outline: 0;
    }

    &--lg {
        width: 20rem;
        margin-top: 1rem;
    }
}

._label {
    @include _input;
    @include _label;
}

._label--lg {
    @include _label;
    top: -2.65rem;
    left: 2rem;
}

.input_search {
    border: none;
    background-color: #F2F2F2;
    opacity: 0.5;
    outline: none;
    &:focus {
        transition: 0.5s;
        opacity: 1;
        border-bottom: 2px solid black;
    }
}
