@import '../global/variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: auto;
}

body {
    font-size: 14px;
    line-height: 21px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
}

hr {
    border-top: 3px solid #BDBDBD;
}

table td {
    vertical-align: middle !important;
    text-align: left;
}

td.t-gray {
    padding-left: 0.5rem;
}

h6.title {
    margin-left: 0.5rem;
}
// side-bar style
.sidebar-container {
    width: 15vw;
    box-shadow: $shadow;
    border-top: 1px solid #f1f1f1;
    height: 60vh;
}

.sidebar {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: 80%;

    &__bid-title {
        font-weight: 400;
        line-height: 21px;
        margin-bottom: -1rem;
        overflow-wrap: break-word;
        text-align: center;
        width: 10rem;
    }

    &__nav-links {
        list-style-type: disc;

        .__disc-blue {
            color: #007bff;
        }

        .__select_work_item-active {
            color: #BDBDBD;
        }

        & li {
            margin: 0.5rem;

        }

        & li a {
            color: #BDBDBD;

            &:hover {
                color: #2F80ED;
            }
        }

        .__text-decor-active {
            color: #007bff;

            &:hover {
                color: #2F80ED;
                text-decoration: underline;
            }
        }
    }
}
.sticky {
    display: flex;
    position: fixed;
    top: 6rem;
    z-index: 101;
}
// end side-bar

.bid-header__title {
    color: white;
    margin-left: 1.5rem;
}

.list-group-item.active {
    border-color: #333333;
    color: #333333;
}

.page-section {
    margin-top: 1rem;
    z-index: 2;
}

.ddb-margin-bottom {
    margin-bottom: 1rem;
}

// box border
.border-box {
    border: 1px solid #E5E5E5;
}

.box-shadow {
    // box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
// end

// custom dataTableJS
#clarificationTable, #exclusionTable {
    & span.t-gray {
        padding-left: $m0-5rem;
    }

    & > div:last-child {
        padding: $m0-5rem;
    }
}
// end

// profile and alternate container
.container_60vw {
    &__inner_block {
        max-width: 60vw;
        border-top: 1px solid #ebebeb;
        margin: auto;
        overflow: hidden;
    }
}

._inner_inputs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &_row {
        display: flex;
        padding: $m0-5rem;
        div {
            padding-left: $m0-5rem;
            padding-right: $m0-5rem*5;
        }
    }
}
// end profile and alternate block

.box-scroll {
    margin-top: 0.2rem;
    max-height: 35vh;
    overflow: auto;
}

.section-block {
    height: 89.5vh;
}

.flex-flow-wrap {
    flex-flow: row wrap;
    display: flex;
}

.flex-row-box--se {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-row-box-sb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.centralized-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centralized-text {
    text-align: center;
}

.ddb-cursor-handle {
    cursor: pointer;
}

.ddb-border {
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    width: 100%;
}

.--border {
    background-color: #dae0e5 !important;
    color: black !important;
}

.none-underline a {
    text-decoration: none !important;
}

.__side-bar-box {
    height: 50vh;
    width: 12vw;
}

.__sidebar-css {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.__box-add-bid-cancel--margins {
    display: flex;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 1rem;
    & a {
        text-decoration: none;
        color: #FFFFFF
    }

    & > a:first-child {
        margin-right: $m1rem;
    }

    & button {
        cursor: pointer;
        margin-right: $m1rem;
    }
}

.text--center {
    text-align: center;
}

.__table-item--thead {
    text-align: left;
    height: 2.5rem;
    ._cart_item--style {
        padding: 0.55rem 0rem 0.55rem 0.5rem;
        color: #ffffff;
        font-size: 0.90rem;
        background-color: #828282;
    }
}

._side-bar-size{
    padding:0.5rem 2.3rem;
}

.ddb__side_bar {
    height: 65vh;
    background-color: #f8f9fa;
}

._sidebar--list {
    display: block;
    margin-left: 4.75rem;
    margin-right: 0.75rem;
}

._sidebar-a--font_style {
    color: $light_blue;
}

._cancel_font-style {
    color: white;
    text-decoration: none !important;

    &:hover {
        color: white;
    }
}

._description_height {
    min-height: 9rem;
    min-width: 18rem;
}

.border-none {
    border: none;
}

.overflow-x-hidden{
    overflow-x: hidden;
}

.hidden {
    display: none !important;
}

.bck-black {
    background-color: black;
}

.bck-white {
    background-color: $white;

}

.modal-content {

    .--padding{
        padding: $m0-5rem $m0-5rem 0rem $m0-5rem;
    }

    .__modal-inputs--flex-row{
        display: inline-flex;
        align-items: baseline;
        flex-flow: row wrap;

        div {
            padding: $m0-5rem;
        }
    }
}

.active {
    color: $light_blue !important;
    a {
        text-decoration: none;
        color: $light_blue !important;
        &:hover {
            color: darken($light_blue, 20%) !important;
        }
    }
}

.status-change_color {
    &_draft {
        background-color: #EB5757 !important;
    }

    &_submitted {
        background-color: #2F80ED !important;
    }

    &_archived {
        background-color: #979797 !important;
    }
}

._vertical_centralized {
    vertical-align: middle !important;
}

.vertical-line {
    padding-left: 1rem;
    margin-right: 1rem;
    border-right: 1px solid #E5E5E5;
}

.box--description {
    @extend %tpl-box--description;
}