@import '../global/variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    line-height: 21px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
}

.list-group-item.active {
    border-color: #333333;
    color: #333333;
}

.page-section {
    margin-top: 1rem;
}

.ddb-margin-bottom {
    margin-bottom: 1rem;
}

.box-shadow {
    box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.25);
}

.box-scroll {
    max-height: 35vh;
    overflow: auto;
}

.title-tab {
    padding: 1rem;
}

.title-tabs {
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    color: black;
}

.section-block {
    height: 89.5vh;
}

.flex-row-box--sb {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-flow-wrap {
    flex-flow: row wrap;
    display: flex;
}

.flex-row-box--se {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-row-box-sb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.centralized-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centralized-text {
    text-align: center;
}

.ddb-cursor-handle {
    cursor: pointer;
}

.--border {
    background-color: #dae0e5 !important;
    color: black !important;
}

.none-underline a {
    text-decoration: none !important;
}

.__side-bar-box {
    height: 50vh;
}

.__box-add-bid-cancel--margins {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 1rem;

    & a {
        text-decoration: none;
        color: #FFFFFF
    }
}

.text--center {
    text-align: center;
}

.__table-item--thead {
    text-align: left;
    height: 2.5rem;
    ._cart_item--style {
        padding: 0.55rem 0rem 0.55rem 2.35rem;
        color: #ffffff;
        font-size: 0.90rem;
        background-color: #828282;
    }
}

._side-bar-size{
    padding:0.5rem 2.8rem;
}

.ddb__side_bar {
    height: 65vh;
    background-color: #f8f9fa;
}

._sidebar--list {
    display: block;
    margin-left: 4.75rem;
    margin-right: 0.75rem;
}

._sidebar-a--font_style {
    color: $light_blue;
}

._cancel_font-style {
    color: white;
    text-decoration: none !important;

    &:hover {
        color: white;
    }
}

._description_height {
    min-height: 9rem;
    min-width: 18rem;
}

.border-none {
    border: none;
}

.welcome {
    text-align: center;
}

.overflow-x-hidden{
    overflow-x: hidden;
}

.hidden {
    display: none !important;
}

.bck-black {
    background-color: black;
}

.bck-white {
    background-color: $white;

}

.modal-content {

    .--padding{
        padding: $m0-5rem $m0-5rem 0rem $m0-5rem;
    }

    .__modal-inputs--flex-row{
        display: inline-flex;
        align-items: baseline;
        flex-flow: row wrap;

        div {
            padding: $m0-5rem;
        }
    }
}


.active {
    color: $light_blue !important;
    a {
        text-decoration: none;
        color: $light_blue !important;
        &:hover {
            color: darken($light_blue, 20%) !important;
        }
    }
}