@import 'variables';


@mixin _input {
    border: 1px solid transparent;
    line-height: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0 auto;
}

@mixin _label {
    z-index: 1;
    float: left;
    height: .5rem;
    line-height: .1rem;
    padding: .1rem .5rem .1rem .2rem;
    position: relative;
    left: 1rem;
    top: -2.7rem;
    color: #333333;
    background-color: #fff;
    font-size: 13px;
}

@mixin flash_default {
    background-color: white;
    color: $red;
    font-weight: 500;
    border: 0;
    margin: auto;
    text-align: center;
}

// exclusions and clarifications
@mixin box-table {
    width: 30vw;
    .__table-item--thead {
        height: 1.5rem;
        ._cart_item--style {
            padding: 0.2rem 0rem 0.2rem 0.5rem;
        }
    }
}