// Colors
$black: #000;
$dgray: #4F4F4F;
$gray: #979797;
$light_gray: #FAFAFA;
$blue: #175593;
$light_blue: #2F80ED;
$red: #EB5757;
$white: #FFFFFF;
$fw-700: 700;

$m0-5rem: 0.5rem;
$m1rem: 1rem;


$shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.25);
$border-top: 1px solid #ebebeb;
$border-bottom: 5px solid #175593;


// scss-templates
%tpl_sidebar__nav-links {
    list-style-type: disc;

    .__disc-blue {
    color: #007bff;

    .__select_work_item-active {
        color: #BDBDBD;
        }
    }

    & li {
    margin: 0.5rem;

    }

    & li a {
    color: #BDBDBD;
    }

    &:hover {
        color: #2F80ED;
    }
}

%tpl_main-container {
    display: flex;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;

    .__bid-header {
        background-color: black;
        display: inline-flex;
        justify-content: flex-start;
        padding: .5rem 1rem;
        align-items: center;

        .bid-header__status {
            color: white;
            padding: .5rem 1rem;
            background-color: $red;
            border-radius: .3rem;
        }

        .bid-header__title {
            color: white;
            margin-left: 8rem;
        }
    }
}
