/* custom css */
* {
    border-radius: 0 !important;
    font-family: "Poppins", sans-serif;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    box-shadow: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.navbar-nav > li {
    float: left;
    position: relative;
}
.navbar-light .navbar-nav .active a::after {
    border-bottom: 5px solid #333333;
    bottom: -10px;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
}

  /*         ddb         */
 /*  Repeated - classes */
/*                     */

.ddb-box-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ddb-flex-row-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.ddb-font-family {
    font-family: "Poppins", sans-serif;
}

/* begin styles of base.html */

.container_top {
    width: 100%;
    margin-left: 30px;
    margin-right: 0px;
}

.container-width {
    max-width: 190vh;
}

.font_item {
font-style: normal;
font-weight: 500;
font-size: 20px;
margin-left: 6px;
}

.font_item > li {
    margin-left: 3.5rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #333333;
}

.navbar_style {
    padding: 1.1rem 1rem .35rem;
    background: #FFFFFF;
}
/* end styles of base.html */

/* begin login.html */
.container-bottom {
    margin-top: 164px;
}

.container-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-div {
    width: 350px;
}

.container-box .password-input {
    margin-top: 2rem;
    text-align: center;
}

.form-group {
 position: relative;
 margin-bottom: 0rem;
}

.label-control {
    position: relative;
    top: -4rem;
    padding: 0 1rem .1rem .5rem;
    background-color: white;
    left: -6.5rem;
    color: #555;
    opacity: 1;
    font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
    cursor: text;
    transition: all 0.2s ease;
}

.form-control-input, .form-control-select {
    display: block;
    width: 100%;
    padding-top: 1.0625rem;
    padding-bottom: 0.0625rem;
    padding-left: 1.25rem;
    border: 1px solid #b1b4b4;
    border-radius: 0.5rem !important;
    background-color: #fff;
    color: #555;
    font: 400 0.875rem/1.875rem "Open Sans", sans-serif;
    transition: all 0.2s;
    -webkit-appearance: none;
    font-size: 125%;
}

.title_text {
    font-style: normal;
    font-size: 28px;
    line-height: 27px;
    color: #000000;
}

.form_control_style {
    font-size: 135%;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
}

.flash_mess_style {
    background-color: white;
    color:#EB5757;
    font-weight: bold;
    border: 0px;
    padding-left: 0px;
}

hr {
    color: rgb(0, 0, 0);
}

/* end login.html */

/* begin team.html */

.main-container-box {
    display: block;
    width: 45vw;
    height: 65vh;
    margin-left: auto;
    margin-right: auto;
}

.container-bottom_team {
    margin-top: 5.5rem;
}

.box-users {
    max-height: 55vh;
}

.box-users ul {
    text-align: left;
    list-style: none;
}

.box-users .li-card {
    padding: 20px;
}

.font_style_new-user {
    font-style: normal;
    font-weight: bold;
    color: #333333;
    font-size: 1rem;
}

.width-block-input {
    max-width: 20vh;
}

.bt_add-new-user {
    float: right;
    padding: 1rem;
    margin-top: 1.5rem;
}

.bt_cancel {
    background: #979797;
}

.label-control-bt_add_user {
    top: -5.18rem;
    left: 1.8rem;
}

.form-group-form_add_user {
    margin-bottom: -2rem;
}

.addU-user-type-font {
    border: 2px solid black;
    font-size: 16px;
    width: 12vw;
}



/* ************ */
/*    Viktor    */
/* ************ */

.main-team-container {
    width: 60vw;
    height: 80vh;
    margin: auto;
    border-top: 1px solid #dadada;
    margin-top: 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-top-section {
    padding: 1rem 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
}

.team-cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 1rem;
    padding: 2rem;
}

.team-card {
    border-top: 1px solid #dadada;
    display: flex;
    margin: 1rem;
    width: 45%;
    justify-content: flex-start;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: .5rem;
}

.ddb-form-input,
.ddb-form-label {
    border: 1px solid transparent;
    line-height: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0;
  }

.ddb-form-input {
    display: block;
    padding-top: .1rem;
    border-radius: .5rem !important;
    border-color: #BDBDBD;
    text-indent: 5px;
    height: 2.5rem;
    margin-top: 1rem;
}

.ddb-form-input:focus {
    border-color: rgb(255, 221, 72);
    outline: 0;
}

.ddb-form-label {
    z-index: 2;
    float: left;
    height: .5rem;
    line-height: .1rem;
    padding: .1rem .5rem .1rem .2rem;
    position: relative;
    left: 1rem;
    top: -3rem;
    color: #333333;
    background-color: #fff;
    font-size: 13px;
}

.ddb-register-form {
    display: flex;
    flex-flow: row, wrap;
    justify-content: space-around;
}