* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; }

html {
  scroll-behavior: smooth; }

body {
  font-size: 14px;
  line-height: 21px; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0; }

.list-group-item.active {
  border-color: #333333;
  color: #333333; }

.page-section {
  margin-top: 1rem; }

.ddb-margin-top {
  margin-top: 1rem; }

.box-shadow {
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25); }

.box-scroll {
  max-height: 35vh;
  overflow: auto; }

.title-tab {
  padding: 1rem; }

.title-tabs {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  color: black; }

.section-block {
  height: 89.5vh; }

.flex-row-box--sb {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.flex-flow-wrap {
  flex-flow: row wrap;
  display: flex; }

.flex-row-box--se {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.flex-row-box-sb {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

.centralized-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.centralized-text {
  text-align: center; }

.ddb-cursor-handle {
  cursor: pointer; }

.--border {
  background-color: #dae0e5 !important;
  color: black !important; }

.none-underline a {
  text-decoration: none !important; }

.__side-bar-box {
  height: 65vh; }

.__box-add-bid-cancel--margins {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 1rem; }
  .__box-add-bid-cancel--margins a {
    text-decoration: none;
    color: #FFFFFF; }

.text--center {
  text-align: center; }

.__table-item--thead {
  text-align: left;
  height: 2.5rem; }
  .__table-item--thead ._cart_item--style {
    padding: 0.55rem 0rem 0.55rem 2.35rem;
    color: #ffffff;
    font-size: 0.90rem;
    background-color: #828282; }

._side-bar-size {
  padding: 0.5rem 2.8rem; }

.ddb__side_bar {
  height: 65vh;
  background-color: #f8f9fa; }

._sidebar--list {
  display: block;
  margin-left: 4.75rem;
  margin-right: 0.75rem; }

._sidebar-a--font_style {
  color: #2F80ED; }

._cancel_font-style {
  color: white;
  text-decoration: none !important; }
  ._cancel_font-style:hover {
    color: white; }

._description_height {
  min-height: 9rem;
  min-width: 18rem; }

.border-none {
  border: none; }

.test-class {
  background-color: #dee2e6;
  color: #fff; }

.welcome {
  text-align: center; }

.overflow-x-hidden {
  overflow-x: hidden; }

.t-gray {
  color: #828282; }

._flash {
  background-color: none;
  color: #EB5757; }

._btn--lg {
  width: 20rem;
  margin: 1rem; }

._btn--black {
  padding: .5rem 1.5rem;
  color: #fff;
  border-radius: .5rem;
  border: 1px solid;
  outline: none;
  font-size: 14px;
  transition: .3s;
  background-color: #000; }
  ._btn--black:focus {
    outline: none; }
  ._btn--black:active {
    outline: none; }
  ._btn--black:hover {
    background-color: #333333; }

._btn--dgrey {
  padding: .5rem 1.5rem;
  color: #fff;
  border-radius: .5rem;
  border: 1px solid;
  outline: none;
  font-size: 14px;
  transition: .3s;
  background-color: #4F4F4F; }
  ._btn--dgrey:focus {
    outline: none; }
  ._btn--dgrey:active {
    outline: none; }
  ._btn--dgrey:hover {
    background-color: #363636; }

._btn--blue {
  padding: .5rem 1.5rem;
  color: #fff;
  border-radius: .5rem;
  border: 1px solid;
  outline: none;
  font-size: 14px;
  transition: .3s;
  background-color: #175593; }
  ._btn--blue:focus {
    outline: none; }
  ._btn--blue:active {
    outline: none; }
  ._btn--blue:hover {
    background-color: #103c67; }

._btn--gray {
  padding: .5rem 1.5rem;
  color: #fff;
  border-radius: .5rem;
  border: 1px solid;
  outline: none;
  font-size: 14px;
  transition: .3s;
  background-color: #979797; }
  ._btn--gray:focus {
    outline: none; }
  ._btn--gray:active {
    outline: none; }
  ._btn--gray:hover {
    background-color: #7e7e7e; }

._btn--cancel-float {
  margin-top: 3rem; }

._btn--add_to_bidding {
  margin-top: 3rem; }

._form-input {
  border: 1px solid transparent;
  line-height: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0 auto;
  display: block;
  padding: .2rem;
  border-radius: .5rem;
  border-color: #BDBDBD;
  text-indent: 5px;
  height: 2.5rem;
  margin-top: 1rem; }
  ._form-input:focus {
    border-color: #ffdd48;
    outline: 0; }
  ._form-input--lg {
    width: 20rem;
    margin-top: 1rem; }

._label {
  border: 1px solid transparent;
  line-height: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0 auto;
  z-index: 2;
  float: left;
  height: .5rem;
  line-height: .1rem;
  padding: .1rem .5rem .1rem .2rem;
  position: relative;
  left: 1rem;
  top: -2.7rem;
  color: #333333;
  background-color: #fff;
  font-size: 13px; }

.user-card {
  border-top: 1px solid #ebebeb;
  display: flex;
  margin: .5rem 0;
  min-width: 20rem;
  flex: 0 49%;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
  padding: .5rem; }
  .user-card img {
    margin: .5rem 1rem 0 .5rem; }
  .user-card__details__contact {
    padding-top: .3rem; }

.login__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  height: 80vh; }

.login__form {
  justify-content: center;
  align-items: center; }

.login__error {
  background-color: white;
  color: #EB5757;
  font-weight: 500;
  border: 0;
  margin: auto; }

.login__title--welcome {
  font-size: 18px;
  font-weight: 500; }

.login__title--DDB {
  font-size: 27px;
  font-weight: 700; }

._flash {
  background-color: none;
  color: #EB5757; }

.team__inner {
  max-width: 60vw;
  border-top: 1px solid #ebebeb;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
  margin: auto;
  overflow: hidden;
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
  font-size: 12px; }
  .team__inner .team-header {
    padding: 1rem 2rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%; }
  .team__inner .team-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 1rem;
    padding: 0 2rem; }

.header {
  background-color: #fff;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 5rem;
  display: inline-flex;
  align-items: flex-end; }
  .header__inner {
    display: flex;
    justify-content: space-between; }
    .header__inner .logo__img {
      width: 13rem; }
    .header__inner--left {
      display: inline-flex;
      align-items: flex-end; }
    .header__inner .menu__items {
      display: inline-flex;
      position: relative;
      overflow: hidden;
      max-width: 100%;
      background-color: #fff;
      padding: 0 20px; }
    .header__inner a {
      color: #000;
      text-decoration: none; }
    .header__inner .menu__item {
      padding: 0 2rem;
      font-weight: 500;
      margin-bottom: 1.5rem;
      padding: 20px;
      text-decoration: none;
      transition: 0.3s;
      margin: 0 6px;
      z-index: 1;
      font-weight: 500;
      position: relative; }
      .header__inner .menu__item:before {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 100%;
        height: .5rem;
        background-color: #111;
        opacity: 0;
        transition: 0.3s; }
      .header__inner .menu__item:not(.is-active):hover:before {
        opacity: 1;
        bottom: 0; }
      .header__inner .menu__item:not(.is-active):hover {
        color: #333; }
      .header__inner .menu__item .nav-indicator {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        transition: 0.4s;
        height: 5px;
        z-index: 1;
        border-radius: 8px 8px 0 0; }
    .header__inner--right .user-info {
      display: flex;
      align-items: center;
      margin-top: .5rem; }
      .header__inner--right .user-info__details {
        display: flex;
        flex-flow: column nowrap;
        padding-left: 1rem; }
        .header__inner--right .user-info__details p {
          margin: 0;
          padding: 0; }

.navbar-nav .nav-link {
  padding-left: 1rem; }

.bidding__side_bar {
  height: 64vh;
  background-color: #f8f9fa; }

.bidding-sb--box {
  text-align: center; }

.list__side_bar--style {
  background-color: #f8f9fa;
  text-align: left; }
  .list__side_bar--style li {
    list-style-type: disc;
    color: #2F80ED; }
  .list__side_bar--style span {
    color: #BDBDBD; }
  .list__side_bar--style a {
    color: #BDBDBD; }
  .list__side_bar--style a:hover {
    color: #2F80ED; }

.active {
  color: #2F80ED !important; }

.bck-ground {
  background-color: black;
  color: #fff; }

._bidding--scroll div {
  margin-top: 1rem; }

._bidding--scroll ._last_url_item {
  margin-bottom: 1rem; }

.ddb_nav-side-bar {
  height: 64vh; }

.work-items-section {
  display: flex;
  flex-flow: row nowrap; }
  .work-items-section .ddb__side_bar {
    max-height: 50vh;
    cursor: pointer; }

.sidebar-container {
  min-width: 15%;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
  border-top: 1px solid #f1f1f1;
  max-height: 50vh; }

.sidebar {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: 80%; }
  .sidebar__bid-title {
    font-weight: 400;
    line-height: 21px;
    margin-bottom: -1rem; }
  .sidebar__nav-links {
    list-style-type: disc; }
    .sidebar__nav-links .__disc-blue {
      color: #007bff; }
      .sidebar__nav-links .__disc-blue .__select_work_item-active {
        color: #BDBDBD; }
    .sidebar__nav-links li {
      margin: 0.5rem; }
    .sidebar__nav-links li a {
      color: #BDBDBD; }
      .sidebar__nav-links li a:hover {
        color: #2F80ED; }
    .sidebar__nav-links .__text-decor-active {
      color: #007bff; }
      .sidebar__nav-links .__text-decor-active:hover {
        color: #2F80ED;
        text-decoration: underline; }

.main-container {
  min-width: 75%;
  margin: 0 1rem;
  display: flex;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto; }
  .main-container__bid-header {
    background-color: black;
    display: inline-flex;
    justify-content: flex-start;
    padding: .5rem 1rem;
    align-items: center; }
  .main-container__body {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    min-height: 75vh;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25); }

.bid-header__status {
  color: white;
  padding: .5rem 1rem;
  background-color: #EB5757;
  border-radius: .3rem; }

.bid-header__title {
  color: white;
  margin-left: 8rem; }

.chart-left {
  padding: 0.7rem;
  flex: 1; }
  .chart-left__header-search input {
    width: 90%;
    background-color: #F2F2F2;
    border-radius: .3rem;
    border-style: none;
    border: 1px solid #E5E5E5;
    padding: .2rem 0; }
  .chart-left__header-add-item {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly; }
  .chart-left .__table-item--thead {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    padding: 0.3rem;
    background-color: #828282;
    color: #fff; }
    .chart-left .__table-item--thead ._cart_item--style-work-name {
      padding-left: 5rem; }
  .chart-left .__block-add_to_cart {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 0.5rem; }
    .chart-left .__block-add_to_cart .__btn-add_to_cart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #FFFFFF;
      border: 1px solid #BDBDBD;
      margin-right: 1rem;
      width: 9vw; }
      .chart-left .__block-add_to_cart .__btn-add_to_cart .__input-add-to-cart-from:hover {
        text-decoration: underline; }
    .chart-left .__block-add_to_cart .__input-add-to-cart-from {
      cursor: pointer;
      border: none;
      background-color: #FFFFFF; }

.chart-right {
  padding: 0.7rem;
  flex: 1; }
  .chart-right .__header-add-group--submit {
    border: none;
    background-color: #FFFFFF;
    color: #175593;
    cursor: pointer;
    padding: 0.5rem; }
    .chart-right .__header-add-group--submit:hover {
      text-decoration: underline; }
  .chart-right .__inline--blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .chart-right .__inline--blocks ._form-input--m {
      margin-left: 1rem; }
    .chart-right .__inline--blocks ._label {
      left: 1.5rem; }
  .chart-right .chart-right__group_name-box .chart-right__group-name-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF; }
  .chart-right__undo-block {
    background-color: #E6A73E;
    border-radius: 0.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
    color: #fff; }
    .chart-right__undo-block div {
      padding: 0rem 1rem; }
  .chart-right .__btn-cancel {
    color: #fff;
    text-decoration: none; }
  .chart-right .__box-scroll--group-table {
    max-height: 17vh;
    overflow: auto; }
  .chart-right .hidden {
    display: none; }
  .chart-right .chart-right__buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end; }

.modal-content ._h5--padding {
  padding: 0.5rem 0.5rem 0rem 0.5rem; }

.modal-content .__modal-inputs--flex-row {
  display: inline-flex;
  align-items: baseline;
  flex-flow: row wrap; }
  .modal-content .__modal-inputs--flex-row div {
    padding: 0.5rem; }

.bck-color-table {
  background-color: #828282; }

.label--exclusions {
  left: 1rem;
  top: -14.8rem; }

.title__exclusions {
  padding: 0.3rem;
  width: 8.4vw;
  border-bottom: 5px solid #175593; }

.__box-table-exclusion {
  width: 100%;
  margin-top: 1rem;
  min-height: 75vh;
  max-height: 90vh;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
  overflow: visible; }
  .__box-table-exclusion .__box-table--left {
    width: 53%; }
    .__box-table-exclusion .__box-table--left .__add-exclusion--box .__add_new_excl--margin {
      margin-top: 1rem;
      margin-left: 1rem; }
    .__box-table-exclusion .__box-table--left .__add-exclusion--box .__add_to_cart--margin {
      margin-top: 1rem;
      margin-left: 0.5rem; }
    .__box-table-exclusion .__box-table--left .__add_to_cart--place {
      float: right;
      margin-left: 4.2rem;
      padding-left: 2rem; }
    .__box-table-exclusion .__box-table--left ._add_to_cart--float-r {
      float: right;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }
    .__box-table-exclusion .__box-table--left .__exclusion-item--head {
      text-align: center;
      height: 2.5rem; }
      .__box-table-exclusion .__box-table--left .__exclusion-item--head ._item-padding {
        padding: 0.55rem 15rem 0.55rem 0.35rem;
        font-size: 0.90rem;
        background-color: #828282; }
  .__box-table-exclusion .__border-none {
    border: none; }
  .__box-table-exclusion .__box-table--right {
    padding-left: 1rem;
    width: 47%;
    position: relative; }
    .__box-table-exclusion .__box-table--right .__table-item--thead {
      height: 1.5rem; }
      .__box-table-exclusion .__box-table--right .__table-item--thead ._cart_item--style {
        padding: 0.2rem 0rem 0.2rem 2.35rem; }
    .__box-table-exclusion .__box-table--right .__exclusion-box--description {
      position: absolute;
      margin-top: 0.5rem;
      height: 40%;
      width: 29vw; }
      .__box-table-exclusion .__box-table--right .__exclusion-box--description h6 {
        font-weight: 700;
        padding: 1rem; }
      .__box-table-exclusion .__box-table--right .__exclusion-box--description div {
        padding: 0rem 1.2rem 0.1rem 1.2rem; }
      .__box-table-exclusion .__box-table--right .__exclusion-box--description ._box-text--width {
        width: 90%; }
  .__box-table-exclusion h6 {
    font-weight: 700;
    width: 150%; }
  .__box-table-exclusion .__h6--width {
    font-weight: 700;
    width: 150%; }

.input--label {
  top: 0.9rem;
  left: 1.9rem; }

.label--clarification {
  left: 1rem;
  top: -14.8rem; }

.title__clarifications {
  padding: 0.3rem;
  width: 10.5vw;
  border-bottom: 5px solid #175593; }

.__box-table-clarification {
  width: 100%;
  margin-top: 1rem;
  min-height: 75vh;
  max-height: 90vh;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
  overflow: visible; }
  .__box-table-clarification .__box-table--left {
    width: 53%; }
    .__box-table-clarification .__box-table--left .__add_to_cart--place {
      float: right;
      margin-left: 4.2rem;
      padding-left: 2rem; }
    .__box-table-clarification .__box-table--left ._add_to_cart--float-r {
      float: right;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }
  .__box-table-clarification .__border-none {
    border: none; }
  .__box-table-clarification .__box-table--right {
    padding-left: 1rem;
    width: 47%;
    position: relative; }
    .__box-table-clarification .__box-table--right .__table-item--thead {
      height: 1.5rem; }
      .__box-table-clarification .__box-table--right .__table-item--thead ._cart_item--style {
        padding: 0.2rem 0rem 0.2rem 2.35rem; }
    .__box-table-clarification .__box-table--right .__clarification-box--description {
      position: absolute;
      margin-top: 0.5rem;
      height: 40%;
      width: 29vw; }
      .__box-table-clarification .__box-table--right .__clarification-box--description h6 {
        font-weight: 700;
        padding: 1rem; }
      .__box-table-clarification .__box-table--right .__clarification-box--description div {
        padding: 0rem 1.2rem 0.1rem 1.2rem; }
  .__box-table-clarification h6 {
    font-weight: 700; }
  .__box-table-clarification .__h6--width {
    font-weight: 700;
    width: 150%; }

.text--center {
  text-align: center; }

._add_new_clarification--modal ._input--label {
  left: 6rem;
  top: -0.2rem; }

._add_new_clarification--modal ._zeroing-padding {
  padding: 0rem !important; }

._add_new_clarification--modal ._input--margin_l {
  margin-left: 1rem !important; }

.ddb_base_Table #td_description_flex {
  display: flex;
  flex-flow: column wrap; }

._input--label_note {
  left: 1.8rem;
  top: .8rem; }

._submit--margins {
  margin-left: 1.3rem;
  margin-top: 1.5rem; }
