@import '../global/variables';

// custom class
.navbar-nav .nav-link {
    padding-left: 1rem;
}
// end of custom class

// .bid-id--bgc {
//     background-color: #F2F2F2;
// }

.list-style--type {
    background-color: #f8f9fa;

    & li {
        list-style-type: disc;
        color: #2F80ED;
    }
}

