@import '../global/variables';

.team__inner {
    max-width: 60vw;
    border-top: $border-top;
    box-shadow: $shadow;
    margin: auto;
    overflow: hidden;
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
    font-size: 12px;

    .team__header {
        padding: 1rem 2rem;;
        display: inline-flex;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
    }

    .team__cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding-top: 1rem;
        padding: 0 2rem;
    }

    .team__card {
        border-top: $border-top;
        display: flex;
        margin: .5rem 0;
        min-width: 20rem;
        flex: 0 49%;
        justify-content: flex-start;
        align-items: flex-start;
        box-shadow: $shadow;
        padding: .5rem;

        img {
            margin: .5rem 1rem 0 .5rem;
        }

        .team__details__contacts {
            padding-top: .3rem;
        }
    }
}