@import '../global/variables';

.work-items-section {
    display: flex;
    flex-flow: row nowrap;
}

.sidebar-container {
    min-width: 15%;
    box-shadow: $shadow;
    border-top: 1px solid #f1f1f1;
    max-height: 50vh;
}

.sidebar {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: 80%;

    &__bid-title {
        font-weight: 400;
        line-height: 21px;
        margin-bottom: -1rem;
    }

    &__nav-links {
        list-style-type: disc;

        & li {
            margin: 0.5rem;
        }

        & li a {
            color: #BDBDBD;

            &:hover {
                color: $blue;
            }
        }
    }
}

.main-container {
    min-width: 83%;
    margin: 0 1rem;
    display: flex;
    flex-flow: column;

    &__bid-header {
        background-color: black;
        display: inline-flex;
        justify-content: space-between;
        padding: .5rem 1rem;
        align-items: center;
    }

    &__body {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        min-height: 75vh;
        box-shadow: $shadow;
    }
}

.bid-header__status {
    color: white;
    padding: .5rem 1rem;
    background-color: $red;
    border-radius: .3rem;
}

.bid-header__title {
    color: white;
}

.chart-left {
    padding: 0.7rem;
    flex: 1;

    &__header-search {
        input {
            width: 90%;
            background-color: #F2F2F2;
            border-radius: .3rem;
            border-style: none;
            border: 1px solid #E5E5E5;
            padding: .2rem 0;
        }
    }

    &__header-add-item {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
    }

}

.chart-right {
    padding: 0.7rem;
    flex: 1;

    & .__inline--blocks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        & ._form-input--m {
            margin-left: 1rem;
        }
    }

    & .chart-right__group_name-box {

        .chart-right__group-name-block {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: #FFFFFF;
        }

    }

    .show {display:block;}

}
