@import '../global/variables';

.__side-bar-box {
    height: 65vh;
}

.nav-side-bar {
    padding:0.5rem 2.8rem;
    height: 65vh;
    max-height: 65vh;
    box-shadow: $shadow;
}

.__box-table-work_item {
    width: 100%;
    margin-top: 1rem;
    min-height: 80vh;
    max-height: 85vh;
    box-shadow: $shadow;
    overflow: visible;

    .table__work-item {
        height: 100%;
    }

    .__box-table--left {
        // display: block;
        width: 53%;
    }

    .__box-table--right {
        // display: block;
        padding-left: 1rem;
        width: 47%;

        .__work-item--head {
            background-color: #828282;
            text-align: center;
            height: 2.5rem;
            ._item-padding {
                padding: 0.55rem 12.3rem 0.55rem 0.35rem;
                font-size: 0.90rem;
            }
        }

    }

    .__box-table--mtop {
        margin-top: 1rem;
    }

    & h6 {
        font-weight: $fw-700;
    }

    .__h6--width {
        font-weight: $fw-700;
        width: 150%;
    }
}

.title__work-item {
    padding: 0.3rem;
    width: 9vw;
    border-bottom: $border-bottom;
}

.margin-left {
    margin-left: 1rem;
}

.__box-table-flex-column {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
}

.__add_to_cart--place {
    margin-left: auto;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.__table--head {
    background-color: #828282;
}

.__add-work-item--box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.border--none {
    border-style: none;
}

.__modal-inputs--flex-row {
    display: flex;
    flex-direction: row;
    div {
            padding: 0.75rem;
    }
}

.padding--top {
    padding-top: 1.8rem !important;
}

.padding--off {
    padding: 0;
}

.--padding {
    padding: 1rem 1rem 0rem 1rem;
}

._label_code_place {
    left: 0.5rem;
}