@import '../global/variables';


.bck-color-table{
    background-color: #828282;
}

.label--exclusions {
    left: 1rem;
    top: -14.8rem;
}

.title__exclusions {
    padding: 0.3rem;
    width: 8.4vw;
    border-bottom: $border-bottom;
}
