@import '../global/variables';

.alternate_bgc {
    background-color: #FAFAFA;
}

._alternate_input_row {
    display: flex;
    align-items: baseline;
    padding: $m0-5rem;

    & > div {
        padding-left: $m0-5rem;
        padding-right: $m0-5rem*2;

    }

    ._alternate_name {
        display: flex;
        width: 15%;
        align-items: center;
    }
}
