@import '../global/variables';

// custom class
.navbar-nav .nav-link {
    padding-left: 1rem;
}
// end of custom class

// .bid-id--bgc {
//     background-color: #F2F2F2;
// }

.bidding__side_bar {
    height: 64vh;
    background-color: #f8f9fa;
}

.bidding-sb--box {
    text-align: center;
}


.list__side_bar--style {
    background-color: #f8f9fa;
    text-align: left;

    & li {
        list-style-type: disc;
        color: $light_blue;
    }

    & span {
       color: #BDBDBD;
    }

    & a {
        color: #BDBDBD;
    }
        a:hover {
            color: $light_blue;
        }

}

.__side_bar--ul {
    padding-left: 5rem;
}

.active {
    color: $light_blue !important;
}

.bck-ground {
    background-color: black;
    color: #fff;
}

._bidding--scroll {
    div {
        margin-top: 1rem;
    }

    ._last_url_item {
        margin-bottom: 1rem;;
    }

}
