@import '../global/components/buttons';
@import '../global/variables';

.container {
    &__header-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > div:first-child {
            display: inherit;
            align-items: baseline;
            select {
                margin-right: $m1rem;
            }
            div {
                width: 100%;
                button {
                    padding: $m0-5rem $m1rem $m0-5rem;
                }
            }
        }
    }
}


.ddb_nav-side-bar {
    height: 64vh;
}

.__side_bar-title {
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border-right: 5px solid #175593;
}

.form-control-resize {
    min-width: 10vw;
    cursor: pointer;
}

.edit_btn {
    @include _btn;
    background-color: #F2F2F2;
    color: #000000;
    border: 1px solid #E4E4E4;

    &:hover {
        background-color: darken( #F2F2F2, 20%);
        color: #FFFFFF;
    }
}

.bids_status_btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button {
        display: inline-flex;
        color: #000000;
        border: 1px solid #E4E4E4;

        & > div {
            padding-right: $m0-5rem;
        }

        &:hover {
            color: #FFFFFF;
        }
    }
}

.status_block {
    display: flex;
    justify-content: space-between;
    margin: $m1rem 0rem $m0-5rem;

    &__bids_status {
        display: flex;
        & > div {
            padding: 0rem $m1rem;
            & > button {
                font-weight: 600;
                font-size: 14px;
                cursor: pointer;
                border: none;
                background-color: #fff;
            }
        }

        .status-active {
            border-bottom: 5px solid #175593;
        }
    }
}

.biddings-table {
    overflow-y: auto;
    max-height: 75vh;

    &_check-box {
        width: 26.5px;
        vertical-align: middle !important;
    }
}
