@import '../global/variables';
@import '../global/components/buttons';


%bid_status {
    color: white;
    padding: .5rem 1rem;
    border-radius: .3rem;
    text-align-last: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


// custom class
.navbar-nav .nav-link {
    padding-left: $m1rem;
}
// end of custom class

.ddb__side_bar {
    max-height: 50vh;
    cursor: pointer;
}

.side_dar_bidding {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    height: 80%;

    &__return-link {
        width: 100%;
        min-height: 5vh;
        padding-left: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        a {
            color: #828282;
            &:hover {
               color: #000000;
               text-decoration: none;
                font-weight: 600;
            }
        }
    }

    &-bid {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 5vh;
        background-color: #F2F2F2;
        border-right: 5px solid #175593;
    }
}
._preview_export_btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    ._btn {
        button {
            @include _btn;
            background-color: #828282;
            width: 10rem;
            text-align: justify;

            &:hover {
                background-color: darken(#828282, 20%);
            }
        }
    }
}

.sidebar__nav-links-bidding {
    @extend %tpl_sidebar__nav-links;

    & li {
        color: #BDBDBD;
    }

    & li span a {
        color: #BDBDBD;

        &:hover {
            color: $light_blue;
        }
    }
}

.__side-bar-box-bidding {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: $m1rem;
}

.main-container_bidding {
    max-width: 75%;
    margin: 0 $m1rem;
    display: flex;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;

    &-header {
        background-color: black;
        justify-content: space-between;
        display: inline-flex;
        padding: .5rem 1rem;
        align-items: center;

        .__bid-header_start_block {
            display: flex;
            justify-content: flex-start;
            padding: .5rem 1rem;
            align-items: center;
        }

        .__bid-header_end_block {
            display: flex;
            justify-content: flex-end;
            padding: .5rem 1rem;
            align-items: center;
        }
    }

    &__body {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        min-height: 75vh;
        box-shadow: $shadow;
    }
}

.cloud_title {
    color: $white;
    padding: 0rem $m0-5rem 0rem 0rem;
}


//  Begin bid status //

.__bid_status-default {
    @extend %bid_status;
    color: $black;
    background-color: $white;

    &:hover {
        background-color: #F2F2F2;
        cursor: pointer;
    }
}

.__bid_status-draft {
    @extend %bid_status;
    background-color: $red;
}

.__bid_status-submitted {
    @extend %bid_status;
    background-color: $light_blue;
}

.__bid_status-archived {
    @extend %bid_status;
    background-color: $gray;
}
// End bid status //


.bid-header__title {
    color: white;
    margin-left: 8rem;
}

.main-container__project_general {
    display: flex;
    flex-flow: column wrap;
    padding: $m1rem;
    margin-bottom: $m1rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    outline: 0;

    ._date_revision {
        width: 50vw;
        margin-top:$m1rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        ._input-date_time {
            display: inline-flex;
            align-items: center;
        }

        ._date_time_img {
            padding-left: $m1rem;
        }
    }

    ._titles_prices {
        width: 60vw;
        margin-top: 1rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .__client_job_info {
        margin-top: $m1rem;

        ._show-client_panel {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #E5E5E5;
        }

        ._client-block_info {
            display: flex;
            flex-flow: column wrap;
            border: 1px solid #E5E5E5;

        }

        .job-address {
            display: flex;
            flex-flow: column wrap;
            border: 1px solid #E5E5E5;

        }

        .client-job--span {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            color: #979797;
            font-weight: bold;

        }

        .proj_gen-text-info {
            color: #000000;
            font-weight: normal;
        }

    }

    .__drawing-log {
        ._drawing-table {
            background-color: #BEBEBE;
        }

        ._show-drawing_log_panel {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #E5E5E5;

        }

        ._flex-center {
            display: flex;
            justify-content: center;
        }

    }

    .title-text-style {
        color: #000000;
        font-weight: 500;
    }
}

.bidding__side_bar {
    height: 64vh;
    background-color: #f8f9fa;
}

.bidding-sb--box {
    text-align: center;
}

.__side-bar-box {
    ._preview_export_btns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.__side_bar--ul {
    padding-left: 5rem;
}

.bck-ground {
    background-color: black;
    color: #fff;
}

.__bidding--scroll {
    div.add_item_block {
        margin: $m1rem 0rem;
        padding: 0.5rem;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: .3rem;
        outline: 0;
    }

    .clarification_block {
        margin-bottom: $m1rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    ._work_items_block {

        .title-gray {
            color: $gray;
        }

        .item-style {
            color: #000000;
            font-weight: 500;
        }

    }

    ._work_item-link {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        ._flex-start {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            div {
                padding: 0rem 2rem;
            }

        }

        ._flex-end {
            display: flex;
            justify-content: flex-end;
            align-items: baseline;
            div._flex-end_padding  {
                padding: 0rem $m1rem;
            }

        }
    }

    ._work_item-line {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        margin-top: $m1rem;

        ._work_item_line--inputs {
            margin-bottom: $m1rem;
        }

        .bck-color {
            background-color: $light_gray;
        }

        ._show-line_panel {
            padding: 0rem 0rem 0rem $m0-5rem;
            width: 50vw;
            display: inline-flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        .text-areas {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            align-items: center;

            div {
                padding: 0rem $m1rem;
            }

        }

        .inputs-features {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            align-items: baseline;

            div {
                padding-left: $m1rem;
            }

        }

        ._edit_delete-btns {
            display: flex;
            flex-direction: column;
            margin-left: $m1rem;

            .edit-height {
                display: flex;
            }

            .delete-height {
                height: 70%;
                display: flex;
                align-items: center;
            }


        }

    }

    ._delete_btn {
        padding-right: 0.3rem;
    }

    .scope_of_work_container {
        padding: $m1rem;
    }

    .add_work_item-group {

        display: inline-flex;
        flex-direction: column;

        ._top_block {
            display: inline-flex;
            flex-flow: wrap;
            justify-content: space-between;
            align-items: center;
            margin-top: $m1rem;

            .add_item_btn {
                display: flex;
                justify-content: flex-start;
            }

        }

        ._group-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #EDF8FF;
            padding: $m0-5rem;

            .group-title {
                & img {
                    margin-right: 1rem;
                }
            }

            .group-btns {
                & img:first-child {
                    margin-right: 1rem;
                }
            }

        }

        #group_panel_id {
            margin-bottom: 1rem;
        }

        ._center_block {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;

            .inputs_fields {
                display: flex;
                flex-direction: column;

                div.input-row {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    align-items: baseline;

                    & > div._feature-title {
                        font-weight: 500;
                        padding-right: 8rem;
                    }

                    & > div._feature-percents {
                        display: flex;
                        align-items: baseline;
                    }
                }

                .input_percents-block {
                    display: flex;

                    & > div:first-child {
                        padding-right: $m0-5rem;
                    }
                }
            }

            ._show_subtotal_close_panel {
                display: flex;
            }

        }

        ._subtotal-block{
            display: flex;
            justify-content: flex-end;
            align-items: baseline;
            &-inner_block {

                .subtotal {
                    // padding-right: ;
                }

                .subtotal_price {
                    // padding-left: 1rem;
                }
            }
        }

        ._bottom_block {
            margin: $m1rem 0rem;
        }

        .__right-block {

            display: flex;
            justify-content: flex-end;

            ._grand_subtotal-block {
                width: 50vw;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                align-items: baseline;
            }
        }

        .subtotal {
            font-size: 18px;
            font-weight: bold;
            color: #333333;
        }

        .subtotal_price {
            color: $red;
            font-weight: bold;
        }
    }
}

.check_box-TBD {
    width: 70px;
    display: inline-flex;
    align-items: center;
}

.modal-content {
    width: auto;
    margin-left: auto;
    margin-right: auto;

    .modal_text-areas {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;

        div#form-text_area {
            ._form-text_area {
                width: 15vw;
                padding: 0rem 0rem 0rem 0.5rem ;
            }
        }

    }

    .modal_inputs-features {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: baseline;
    }

    ._modal_check_box-TBD {
        width: 170px;
        display: inline-flex;
        align-items: center;
    }

    ._modal_btns {
        display: flex;
        justify-content: flex-end;
        flex-flow: row wrap;
        align-items: baseline;
    }
}

.bidding_margin {
    margin: $m1rem 0rem $m1rem $m0-5rem;
}

.direction_element {
    border: none;
    cursor: pointer;
    display: flex;
    flex-flow: wrap;
    padding: 0rem 1.5rem;
}
