@import '../global/variables';
@import '../global/mixins';

.label--clarification {
    left: 1rem;
    top: -14.8rem;
}

.title__clarifications {
    padding: 0.3rem;
    width: 10.5vw;
    border-bottom: $border-bottom;
}

.clarifications-container {
    @extend %tpl_main-container;
}

.__box-table-clarification {
    @extend %tpl-table;

    .__box-table--left {
        width: 53%;

        ._form-search {
            display: flex;
            margin-top: 0.5rem;
            margin-right: 0rem;
            input {
                width: 97%;
                padding-left: 0.5rem;
                transition: 0.2s;
            }
        }

        .__add-clarification--box {
            margin-bottom: $m0-5rem;
            margin-left: 0.5rem;
        }

        .__add_to_cart--place {
            float: right;
            margin-left: 4.2rem;
            padding-left: 2rem;
        }

        ._add_to_cart--float-r {
            float: right;
            margin: $m0-5rem $m0-5rem $m0-5rem 0rem;
        }

        #clarificationTable {
            margin-top: $m1rem;
        }
    }

    .__border-none {
        border: none;
    }

    .__box-table--right {
        // @extend %tpl-box-table-right;
        @include box-table;

        .__table-item--thead {
            height: 1.5rem;
            ._cart_item--style {
                padding: 0.2rem 0rem 0.2rem 0.5rem;
            }
        }

        .__clarification-box--description {
            @extend %tpl-box--description;
        }

    }

    & h6 {
        margin-top: $m1rem;
        font-weight: $fw-700;

        &:first-child {
            width: 150%;
        }
    }
}


.text--center {
    text-align: center;
}

._add_new_clarification--modal {


    ._input--label{
        left: 6rem;
        top: -0.2rem;
    }

    ._zeroing-padding {
        padding: 0rem !important;
    }

    ._input--margin_l {
        margin-left: 1rem !important;
    }
}

.ddb_base_Table {
    #td_description_flex {
        display: flex;
        flex-flow: column wrap;
    }
}


._input--label_note {
    left: 1.8rem;
    top: .8rem;
}

._submit--margins {
    margin-left: 1.3rem;
    margin-top: 1.5rem;
}
