@import '../global/variables';
@import '../global/mixins';

.bck-color-table{
    background-color: #828282;
}

.label--exclusions {
    left: 1rem;
    top: -14.8rem;
}

.title__exclusions {
    padding: 0.3rem;
    width: 8.4vw;
    border-bottom: $border-bottom;
}

// header
.exclusions-container {
    @extend %tpl_main-container;
}

//

.__box-table-exclusion {
    @extend %tpl-table;

    .__box-table--left {
        width: 53%;

        ._form-search {
            display: flex;
            margin-top: 0.5rem;
            margin-right: 0rem;
            input {
                width: 97%;
                padding-left: 0.5rem;
                transition: 0.2s;
            }
        }

    .__add-exclusion--box {
        & > div {
            margin-left: 0.5rem;
            display: flex;
            align-items: baseline;
            & div:first-child {
                margin-right: 1rem;
            }
        }
    }

        .__add_to_cart--place {
            float: right;
            margin-left: 4.2rem;
            padding-left: 2rem;
        }

        ._add_to_cart--float-r {
            float: right;
            margin: $m0-5rem $m0-5rem $m0-5rem 0rem;
        }

        .__exclusion-item--head {
            text-align: center;
            height: 2.5rem;
            ._item-padding {
                padding: 0.55rem 15rem 0.55rem 0.35rem;
                font-size: 0.90rem;
                background-color: #828282;
            }
        }

        #exclusionTable {
            margin-top: $m1rem;
        }
    }

    .__box-table--right {
        @include box-table;

        & ._box-text--width {
            width: 90%;
        }
    }
}

.input--label {
    top: 0.9rem;
    left: 1.9rem;
}
