@import '../global/variables';
@import '../global/mixins';

.login__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    height: 80vh;
}

.login__form {
    justify-content: center;
    align-items: center;
}

.login__error {
   @include flash_default;
   display: flex;
   align-items: center;
}

.login__title {

    &--welcome {
        font-size: 18px;
        font-weight: 500;
    }

    &--DDB {
        font-size: 27px;
        font-weight: 700;
    }
}

._flash {
    background-color: none;
    color: $red;
}

._close_button {
    background: none;
    border: none;
}
