@import '../global/variables';

.team__inner {
    max-width: 60vw;
    border-top: $border-top;
    box-shadow: $shadow;
    margin: auto;
    overflow: hidden;
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
    font-size: 12px;

    .team-header {
        padding: $m1rem 2rem;;
        display: inline-flex;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
    }

    .team-cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding-top: $m1rem;
        padding: 0 2rem;
    }
}

.user-card__details {
    li {
        list-style-type: none;
        font-weight: 600;
    }
    &__name {
        li:last-child {
            font-weight: 400;
            color: #828282;
        }
    }
}
.user-card__edit_and_delete {
    display: flex;
    button {
        width: $m1rem*2;
    }
}
// Customize model window

.modal-content {
    padding: $m1rem;

    .form-row div {
        padding-left: $m0-5rem;
    }

    .team-radio-select {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: $m1rem;
        padding-left: $m0-5rem;
    }
}
