@import '../global/variables';

.work-items-section {
    display: flex;
    flex-flow: row wrap;

    & .ddb__side_bar {
        max-height: 50vh;
        cursor: pointer;
    }

}

.main-container {
    @extend %tpl_main-container;

    .__body {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        min-height: 75vh;
        box-shadow: $shadow;
    }

    .tables-block {
        display: flex;
        flex-flow: row wrap;
    }

    .btns-block {
        margin-right: $m1rem;
    }
}

.chart-left {
    padding: 0.7rem;
    flex: 1;

    ._form-search {
        margin-right: 0rem;
        input {
            width: 97%;
            padding-left: 0.5rem;
            transition: 0.2s;
        }
    }

    &__header-search {
        input {
            width: 90%;
            background-color: #F2F2F2;
            border-radius: .3rem;
            border-style: none;
            border: 1px solid #E5E5E5;
            padding: .2rem 0;
        }
    }

    &__header-add-item {
        width: 100%;
        display: inline-flex;
        align-items: baseline;
        justify-content: space-evenly;;
    }

    .__table-item--thead {
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        align-items: center;
        padding: 0.3rem;
        background-color: #828282;
        color: #fff;

        ._cart_item--style-work-name {
            padding-left: 5rem;
        }

    }

    ._td_work_item_name {
        overflow-wrap: break-word;
        max-width: 10vw;
    }

    .__block-add_to_cart {
        display: flex;
        justify-content: flex-end;
        margin: $m0-5rem $m0-5rem;

        .__btn-add_to_cart {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #FFFFFF;
            border: 1px solid #BDBDBD;
            margin-right: 1rem;
            // width: 9vw;

            &:hover {
                background-color: $black;
                span {
                    color: $white;
                }
            }

            span {
                color: black;
            }
        }

        & .__input-add-to-cart-from {
            cursor: pointer;
            border: none;
            background-color: #FFFFFF;
        }

    }
}

.chart-right {
    padding: 0.7rem;
    flex: 1;

    .__header-add-group--submit {
        border: none;
        background-color: #FFFFFF;
        color: #175593;
        cursor: pointer;
        padding: 0.5rem;

        &:hover {
            text-decoration: underline;
        }
    }

    & .__inline--blocks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & ._form-input--m {
            margin-left: 1rem;
        }

        & ._label {
            left: 1.5rem;
        }
    }

    & .chart-right__group_name-box {
        max-height: 50vh;
        overflow: auto;
        .chart-right__group-name-block {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: #FFFFFF;

            .__inline--items {
                display: inline-flex;
                flex-flow: row;
                align-items: center;
                width: 10%;
            }

            .__group_name {
                display: flex;
                align-items: center;
                margin-right: auto;
                margin-left: 0.5rem;
                width: 30%;
            }
            .__delete-group {
                margin-right: $m0-5rem;
                background-color: inherit;
            }
        }
    }

    &__undo-block {
        background-color: #E6A73E;
        border-radius: 0.5rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0.3rem;
        color: #fff;

        div {
            padding: 0rem 1rem;
        }

    }

    .__btn-cancel {
        color: #fff;
        text-decoration: none;
    }

    & .__box-scroll--group-table {
        max-height: 30vh;
        overflow: auto;
    }

    .chart-right__buttons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }

    // .show {display:block;}

}

#_group_input_delete {
    .input--label {
        top: 0.8rem;
        left: 3.5rem;
    }
}

#workItemsTable tr td:last-child button {
    background-color: inherit;
}
