@import '../global/variables';

.work-items-section {
    display: flex;
    flex-flow: row nowrap;

    & .ddb__side_bar {
        max-height: 50vh;
        cursor: pointer;
    }

}

.sidebar-container {
    min-width: 15%;
    box-shadow: $shadow;
    border-top: 1px solid #f1f1f1;
    max-height: 50vh;
}

.sidebar {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: 80%;

    &__bid-title {
        font-weight: 400;
        line-height: 21px;
        margin-bottom: -1rem;
    }

    &__nav-links {
        list-style-type: disc;

        .__disc-blue {
            color: #007bff;

            .__select_work_item-active {
                // border-right: solid 2px #E6A73E;
                // background-color: #F2F2F2;
                // text-decoration: none;
                color: #BDBDBD;
                // &:hover {

                // }
            }
        }

        & li {
            margin: 0.5rem;

        }

        & li a {
            color: #BDBDBD;

            &:hover {
                color: #2F80ED;
            }
        }

        .__text-decor-active {
            color: #007bff;

            &:hover {
                color: #2F80ED;
                text-decoration: underline;
            }
        }
    }
}

.main-container {
    min-width: 75%;
    margin: 0 1rem;
    display: flex;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;

    &__bid-header {
        background-color: black;
        display: inline-flex;
        justify-content: flex-start;
        padding: .5rem 1rem;
        align-items: center;
    }

    &__body {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        min-height: 75vh;
        box-shadow: $shadow;
    }
}

.bid-header__status {
    color: white;
    padding: .5rem 1rem;
    background-color: $red;
    border-radius: .3rem;
}

.bid-header__title {
    color: white;
    margin-left: 8rem;
}

.chart-left {
    padding: 0.7rem;
    flex: 1;

    &__header-search {
        input {
            width: 90%;
            background-color: #F2F2F2;
            border-radius: .3rem;
            border-style: none;
            border: 1px solid #E5E5E5;
            padding: .2rem 0;
        }
    }

    &__header-add-item {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: space-evenly;;
    }

    .__table-item--thead {
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        align-items: center;
        padding: 0.3rem;
        background-color: #828282;
        color: #fff;

        ._cart_item--style-work-name {
            padding-left: 5rem;
        }

    }

    .__block-add_to_cart {
        display: flex;
        justify-content: flex-end;
        margin: $m0-5rem $m0-5rem;

        .__btn-add_to_cart {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #FFFFFF;
            border: 1px solid #BDBDBD;
            margin-right: 1rem;
            width: 9vw;

            .__input-add-to-cart-from:hover {
                text-decoration: underline;
            }
        }

        & .__input-add-to-cart-from {
            cursor: pointer;
            border: none;
            background-color: #FFFFFF;
        }

    }

}

.chart-right {
    padding: 0.7rem;
    flex: 1;

    .__header-add-group--submit {
        border: none;
        background-color: #FFFFFF;
        color: #175593;
        cursor: pointer;
        padding: 0.5rem;

        &:hover {
            text-decoration: underline;
        }
    }

    & .__inline--blocks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & ._form-input--m {
            margin-left: 1rem;
        }

        & ._label {
            left: 1.5rem;
        }
    }

    & .chart-right__group_name-box {

        .chart-right__group-name-block {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: #FFFFFF;

            .__inline--items {
                display: inline-flex;
                flex-flow: row;
                align-items: center;
                width: 10%;
            }

            .__group_name {
                display: flex;
                align-items: center;
                margin-right: auto;
                margin-left: 0.5rem;
                width: 30%;
            }
            .__delete-group {
                margin-right: $m0-5rem;
            }
        }
    }

    &__undo-block {
        background-color: #E6A73E;
        border-radius: 0.5rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0.3rem;
        color: #fff;

        div {
            padding: 0rem 1rem;
        }

    }

    .__btn-cancel {
        color: #fff;
        text-decoration: none;
    }

    & .__box-scroll--group-table {
        max-height: 17vh;
        overflow: auto;
    }

    .hidden {
        display: none;
    }

    .chart-right__buttons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }

    // .show {display:block;}

}

.modal-content {

    ._h5--padding{
        padding: $m0-5rem $m0-5rem 0rem $m0-5rem;
    }

    .__modal-inputs--flex-row{
        display: inline-flex;
        align-items: baseline;
        flex-flow: row wrap;

        div {
            padding: $m0-5rem;
        }
    }
}
