{% extends 'base.html' %}

{% block links %}
<link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
{% endblock %}


{% block content %}


<section class="page-section bidding d-flex tabm" id="wrapper">
<!-- begin Sidebar -->
<!-- <div> -->
  <div class="border-right box-shadow __side-bar-box bidding__side_bar--size" id="sidebar-wrapper">
    <div class="sidebar-heading"> DDB Contracting</div>
    <div class="text--center list-group list-group-flush none-underline">
      <a href="{{ url_for('bidding.biddings') }}">
      <button class="ddb-cursor-handle list-group-item list-group-item-action bg-light normalized">
          <img src="{{url_for('static', filename='images/my_bidding_element.svg')}}"> My Bidding </button></a>
      <div class="ddb-cursor-handle list-group-item list-group-item-action normalized bidding-sb--box --border"> # {{ bid.procore_bid_id }}  </div>
      <div class="bidding-sb-list">
        <ul class="list-group-item normalized list__side_bar--style __side_bar--ul">
            <li>
              <span class="tablinks active"><a href="#">Project general</a> </span>
            </li>
            <li>
              <span class="tablinks"><a href="#bid_scope_of_work"> Scope of Work</a> </span>
            </li>
            <li>
              <span class="tablinks"><a href="#bid_exclusion"> Exclusions</a> </span>
            </li>
            <li>
              <span class="tablinks"><a href="#bid_clarification"> Clarifications</a> </span>
            </li>
        </ul>
      </div>

    </div>
  </div>
  <!-- end Sidebar -->
  <nav class="navbar-light nav-side-bar ddb__side_bar _side-bar-size box-shadow ddb-cursor-handle" id="ddb-background">
  </nav>

  <div class="main-container" id="work-item-container">
    <div class="main-container__bidding-header">
      <div class="__bid-header_start_block">
        <div class="bid-header__status">Draft</div>
        <div class="bid-header__title"><strong>
          # {{ bid.procore_bid_id }} - {{ bid.client }}
        </strong></div>
      </div>
      <div class="__bid-header_end_block">
        <span class="cloud_title">All changes saved in the cloud</span>
        <button class="bck-black border-none ddb-cursor-handle">
          <img src="{{ url_for('static', filename='images/close_x_element.svg') }}" alt="">
        </button>
      </div>
    </div>
    <div class="main-container__project_general box-shadow">
      <span class="ddb-margin-top"><strong>Project General</strong></span>
      <div class="_date_revision">
        <div>
          <!-- form.code(class='_form-input _form-input--m') -->
          <div class="_input-date_time">
            <div>
              <input class="_form-input _form-input--m" type="text">
              <label class="_label">Due Date</label>
            </div>
            <div class="_date_time_img">
              <img src="{{ url_for('static', filename='images/data_time_element.svg') }}" alt="">
            </div>
          </div>
        </div>
        <div>
          <input class="_form-input _form-input--m" type="text">
          <label class="_label">Revision</label>
        </div>
        <div class="project_type-radio-select m-1">
          <div>
            Chose a project type
          </div>
          <div>
            <input type="radio" id="admin" name="user_type" value="admin"
                  checked>
            <label for="admin">Budget</label>



            <input type="radio" id="user" name="user_type" value="user">
            <label for="user">Quote</label>
          </div>
        </div>
      </div>
      <div class="_titles_prices">
        <div>Subtotal &nbsp; &nbsp; $0.00</div>
        <div>Adds-on &nbsp; &nbsp; $0.00</div>
        <div>
          <strong> Grand Total &nbsp; &nbsp; $0.00</strong>
        </div>
      </div>

      <div class="__client_job_info">
        <div class="_show-client_panel">
          <div>Client and Job Info</div>
          <div> *Information edited in Procore
            <button class="border-none ddb-cursor-handle">
              <img src="{{ url_for('static', filename='images/direction_element_bottom.svg') }}" alt="">
            </button>
          </div>
        </div>
        <div class="_client-block_info">
          <div class="client-job--span">
            <div>
              <span>Client</span> &nbsp; &nbsp;
              <span class="proj_gen-text-info">
                Complete Physical, LLC
              </span>
            </div>
            <div>
              <span>Phone &nbsp; &nbsp;
              <span class="proj_gen-text-info">+1 738-927-9182</span>
            </div>
            <div>
              <span>Fox</span> &nbsp; &nbsp;
              <span class="proj_gen-text-info">+1 738-927-9182</span>
            </div>
          </div>
          <div class="client-job--span">
            <div>
              <span>Address</span> &nbsp; &nbsp;
              <span class="proj_gen-text-info block-text--width">
                100 Willoughby Street
                Suite # 502
                Broklyn, NY, 11201
              </span>
            </div>
            <div>
              <span>Email &nbsp; &nbsp;
              <span class="proj_gen-text-info">gh7028@nyu.edu</span>
            </div>
            <div>
              <span>Contact</span> &nbsp; &nbsp;
              <span class="proj_gen-text-info">
                James Pumarada
                Mr, Dr
              </span>
            </div>
          </div>
        </div>
        <div class="job-address">
          <div class="client-job--span">
            <div>
              <span>Job</span> &nbsp; &nbsp;
              <span class="proj_gen-text-info block-text--width">
                Transction Windon & Sink
              </span>
            </div>
            <div>
              <span>Note &nbsp; &nbsp;
              <span class="proj_gen-text-info"></span>
            </div>
            <div>

            </div>
          </div>
          <div class="client-job--span">
            <div>
              <span>Address</span> &nbsp; &nbsp;
              <span class="proj_gen-text-info">
                100 Willoughby Street
                Suite # 502
                Broklyn, NY, 11201</span>
            </div>
          </div>
        </div>
      </div>

      <div class="__drawing-log ddb-margin-top">
        <div class="_show-drawing_log_panel">
          <div class="title-text-style">Drawing Log</div>
          <div> *Information edited in Procore
            <button class="border-none ddb-cursor-handle">
              <img src="{{ url_for('static', filename='images/direction_element_bottom.svg') }}" alt="">
            </button>
          </div>
        </div>
        <span class="team-header__counter t-gray">Showing {{ users|length }} users</span>
        <div class="_flex-center">
          <table>
            <thead class="_drawing-table">
              <th>Drawing ID</th>
              <th>Title</th>
              <th>Date</th>
              <th>Revison</th>
            </thead>
            <tbody>
              <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
              </tr>
              <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
              </tr>
              <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
              </tr>
              <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class="__bidding--scroll">
      <div class="modal-content modal--padding box-shadow" id="bid_scope_of_work">
        <div class="_work_items_block add_item_block">
          <span class="ddb-margin-top"><strong>Scope of Work</strong></span>
          <br>
          {% if bid.link_work_items %}
          {% for link_work_item in bid.link_work_items %}
          <div class="_work_item-link">
            <div class="_flex-start">
              <div>{{ link_work_item.id }}</div>
              <div>
                <div class="title-gray">
                  Work Code
                </div>
                <div class="item-style">
                  {{ link_work_item.work_item.code }}
                </div>
              </div>
              <div>
                <div class="title-gray">
                  Work Item
                </div>
                <div class="item-style">
                  {{ link_work_item.work_item.name }}
                </div>
              </div>
            </div>

            <div class="_flex-end">
              <div>
                <input class="_form-input _form-input--m" type="text">
              </div>
              <button class="_btn--gray">
                Add Line
              </button>
              <button class="_delete-button border-none ddb-cursor-handle bck-white">
                <img src="{{ url_for('static', filename='images/delete_element.svg') }}">
              </button>
            </div>
          </div>
          <div class="_work_item-line">
            <div class="bck-color">
              <div class="_show-line_panel">
                <div class="title-text-style">Line </div>
                <div>
                  <button class="border-none ddb-cursor-handle">
                    <img src="{{ url_for('static', filename='images/direction_element_bottom.svg') }}" alt="">
                  </button>
                </div>
              </div>
              <div class="_work_item_line--inputs">
                <div class="text-areas">
                  <textarea class="_form-text_area" name="" id="" cols="30" rows="10"></textarea>
                  <textarea class="_form-text_area" name="" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="inputs-features">
                  <div>
                    <input class="_form-input >" type="text">
                    <label class="_label">Quantity</label>
                  </div>
                  <div>
                    <input class="_form-input >" type="text">
                    <label class="_label">Unit</label>
                  </div>
                  <div>
                    <input class="_form-input >" type="text">
                  </div>
                  <div class="check_box-TBD">
                    <input class="form-control" type="checkbox">
                  </div>
                </div>
              </div>
            </div>
            <div class="_delete-button">
              <button class="border-none ddb-cursor-handle bck-white">
                <img src="{{ url_for('static', filename='images/delete_element.svg') }}">
              </button>
            </div>
          </div>

          {% endfor %}
          {% endif %}

        </div>
        <div class="add_work_item-group">

          <div class="top_block">

            <div class="__modal-inputs--flex-row">
              <a href="{{ url_for('work_item.work_items', bid_id=bid.id) }}"><button class="ddb-cursor-handle _btn--gray">Add work item/group</button></a>
            </div>

            <div class="subtotal">
              Subtotal
            </div>

            <div class="subtotal_price">
              $ 0.00
            </div>

          </div>
          <div class="center_block">
            <div class="inputs_fields">

            </div>
            <div class="show_close_panel">

            </div>
          </div>
          <div class="bottom_block"></div>
        </div>
      </div>

      <div class="modal-content modal--padding box-shadow add_item_block " id="bid_exclusion">
        <h5 class="--padding">Exclusions</h5>
        <div class="d-flex bd-highlight ddb-margin-bottom ">
        {% if bid.exclusion_links %}
          <div class="p-2 flex-shrink-1 bd-highlight">
            <a href="{{url_for('bidding.delete_exclusions', bid_id=bid.id)}}" class="delete-button border-none ddb-cursor-handle bck-white">
              <img src="{{ url_for('static', filename='images/delete_element.svg') }}">
            </a>
          </div>
          <div class="p-2 w-100 bd-highlight" style="border: 1px solid #BDBDBD">
            <h6>Unless expressly stated, the following exclusions apply:</h6>
            {{ show_exclusions }}
          </div>
          <div class="px-2 flex-shrink-1 bd-highlight">
            <a href="{{url_for('bidding.edit_exclusions', bid_id=bid.id)}}" class="border-none ddb-cursor-handle">
              <img src="{{ url_for('static', filename='images/edit_element.svg') }}">
            </a>
          </div>
        </div>
        {% else %}

        <div class="__modal-inputs--flex-row">
            <a href="{{ url_for('exclusion.exclusions', bid_id=bid.id) }}"><button class="ddb-cursor-handle _btn--gray">Add exclusion</button></a>
        </div>

        {% endif %}
      </div>

      <div class="modal-content modal--padding box-shadow add_item_block" id="bid_clarification">
        <h5 class="--padding">Clarifications</h5>
        <div class="d-flex bd-highlight ddb-margin-bottom ">
          {% if bid.clarification_links %}
          <div class="p-2 flex-shrink-1 bd-highlight">
            <a href="{{url_for('bidding.delete_clarifications', bid_id=bid.id)}}" class="delete-button border-none ddb-cursor-handle bck-white">
              <img src="{{ url_for('static', filename='images/delete_element.svg') }}">
            </a>
          </div>
          <div class="p-2 w-100 bd-highlight" style="border: 1px solid #BDBDBD">
            <h6>Please note the following clarifications:</h6>
            {{ show_clarification }}
          </div>
          <div class="px-2 flex-shrink-1 bd-highlight">
          <a href="{{url_for('bidding.edit_clarifications', bid_id=bid.id)}}" class="border-none ddb-cursor-handle">
            <img src="{{ url_for('static', filename='images/edit_element.svg') }}">
          </a>
          </div>

          {% else %}
          <div class="__modal-inputs--flex-row">

            <a href="{{ url_for('clarification.clarifications', bid_id=bid.id) }}"><button class="ddb-cursor-handle _btn--gray">Add clarification</button></a>
          </div>
         {% endif %}
      </div>
    </div>
  </div>
</section>



{% block scripts %}
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/bidding.js"></script>
<script>
  bid_href_id.classList.toggle('test-class');
</script>
{% endblock %}

{% endblock %}
