{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
{% endblock %}


{% block content %}
<!-- Sidebar -->

<section class="page-section bidding d-flex" id="wrapper">
  <!-- begin Sidebar -->
  <!-- <div> -->
  <div class="border-right box-shadow __side-bar-box" id="sidebar-wrapper">
    <div class="sidebar-heading">DDB Contracting</div>
    <div class="text--center list-group list-group-flush none-underline">
      <a href="#">
      <button class="ddb-cursor-handle list-group-item list-group-item-action bg-light normalized tablinks --border">
      My Bidding </button></a>
    </div>
  </div>
  <!-- </div> -->
  <!-- end Sidebar -->
  <nav class="navbar-light nav-side-bar ddb__side_bar _side-bar-size box-shadow" id="ddb-background">
  </nav>
  <div class="container" id="work-item-container">

    <span>
      <select>
        <option value="Most popular" name="Most popular">Most popular</option>
        <option value="Most recent" name="Most recent">Most recent</option>
      </select>
      <button type="button" class="_btn--gray" data-toggle="modal" data-target="#exampleModal">
        Edit
      </button>
      <input type="input" style="float: right;">
      </input>
    </span>

    <form>
    <div class="margin--top">
      <table id="" class="patientsTable table table-striped table-sm">
        <thead class="bck-ground">
          <th>Bidding ID</th>
          <th>Title</th>
          <th>PM</th>
          <th>Client</th>
          <th>Status</th>
          <th>Last updated</th>
        </thead>
        <tbody>
          {% for bid in bids %}
          <tr>
            <td><a href="{{ url_for('bidding.bidding', item_id=bid.procore_bid_id) }} ">{{ bid.procore_bid_id }}</a></td>
            <td>{{ bid.title }}</td>
            <td>test</td>
            <td>{{ bid.client }}</td>
            <td>{{ bid.status.value }}</td>
            <td>test</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </form>

  </div>
</section>

{% endblock %}

{% block scripts %}
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/biddings.js"></script>

{% endblock %}
