{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
{% endblock %}


{% block content %}
<!-- Sidebar -->

<section class="page-section bidding d-flex" id="wrapper">
  <!-- begin Sidebar -->
  <div class="box-shadow __side-bar-box" id="sidebar-wrapper">
    <div class="sidebar-heading"></div>
    <div class="text--center list-group list-group-flush none-underline">
      <div class="__side_bar-title">
        <img src="{{ url_for('static', filename='images/biddings_element.svg') }}">
        My Bidding
      </div>
    </div>
  </div>
  <!-- end Sidebar -->
  <nav class="navbar-light nav-side-bar ddb__side_bar _side-bar-size box-shadow" id="ddb-background">
  </nav>
  <div class="container" id="work-item-container">

    <div class="container__header-block">
      <div>
        <form action="{{ url_for('bidding.select_sort') }}" method="post">
          {% if most_popular %}
            <select class="form-control form-control-resize" onchange="this.form.submit()" name="select_sort">
              <option selected value="Most popular" name="Most popular">Most popular</option>
              <option value="Most recent" name="Most recent">Most recent</option>
            </select>
          {% elif most_recent %}
            <select class="form-control form-control-resize" onchange="this.form.submit()" name="select_sort">
              <option value="Most popular" name="Most popular">Most popular</option>
              <option selected value="Most recent" name="Most recent">Most recent</option>
            </select>
          {% else %}
            <select class="form-control form-control-resize" onchange="this.form.submit()" name="select_sort">
              <option value="Most popular" name="Most popular">Most popular</option>
              <option selected value="Most recent" name="Most recent">Most recent</option>
            </select>
          {% endif %}
        </form>
        <div>
        {% if edit_bid %}
        <a href="{{ url_for('bidding.finish_edit_bid') }}">
          <button class="edit_btn ddb-cursor-handle">
            Finish Editing
          </button>
        </a>
        {% else %}
        <a href="{{ url_for('bidding.edit_bid') }}">
          <button class="edit_btn ddb-cursor-handle">
          Edit
          </button>
        </a>
        {% endif %}
        </div>
      </div>
      <div class="_form-search">
        <img src="{{ url_for('static', filename='images/Search_icon.png') }}">
        <input class="input_search" type="text" placeholder="Search Bidding" id="biddingsSearch">
        </input>
      </div>
    </div>

    {% if edit_bid %}
    <div class="bids_status_btns">
      <button type="submit" form="edit_bids_form" class="_btn--white ddb-cursor-handle" name="arcive" value="true">
      <div>
        <img src="{{ url_for('static', filename='images/bids_status_box.svg') }}">
      </div>
      <span>Archive</span>
      </button>
      <button type="submit" form="edit_bids_form" class="_btn--white ddb-cursor-handle" name="multiply_export" value="true">
        <div>
          <img src="{{ url_for('static', filename='images/export_biddings.svg') }}">
        </div>
        <span>Export</span>
      </button>


    </div>
    {% endif %}

    <form action="{{ url_for('bidding.change_status') }}" method="post" id="status_form_id">
      <div class="status_block">
        <span class="t-gray">Showing {{ bids|length }} Documents</span>
        <div class="status_block__bids_status">

          <div> <button type="submit" name="bids_status" value="Draft" class="{{ status_active_draft }}" id="bids_draft_id"> Draft </button></div>
          <div id="bids_submitted_id"  > <button name="bids_status" value="Submitted" class="{{ status_active_submitted }}">Submitted </button></div>
          <div> <button name="bids_status" value="Archived" id="bids_archived_id" class="{{ status_active_archived }}">Archived </button></div>
          <div> <button name="bids_status" id="bids_all_id" class="{{ status_active_all }}">All </button></div>

        </div>
      </div>
    </form>

    <form action="{{ url_for('bidding.archive_or_export') }}" method="post" id="edit_bids_form">
      <div class="biddings-table margin--top">
        <table id="biddingsTableId" class="patientsTable table table-striped table-sm">
          <thead class="bck-ground">
            {% if edit_bid %}
            <th></th>
            <th>Bidding ID</th>
            <th>Title</th>
            <th>Client</th>
            <th>Status</th>
            <th>Last updated</th>
            {% else %}
            <th>Bidding ID</th>
            <th>Title</th>
            <th>Client</th>
            <th>Status</th>
            <th>Last updated</th>
            {% endif %}
          </thead>
          <tbody>
            {% if edit_bid %}
              {% for bid in bids %}
                <tr>
                  <td class="biddings-table_check-box">
                    <input class="form-control" type="checkbox" name="{{bid.id}}">
                  </td>
                  <td>#<a href="{{ url_for('bid.bidding', bid_id=bid.id) }} ">{{ bid.procore_bid_id }}</a></td>
                  <td>{{ bid.title }}</td>
                  <td>{{ bid.client }}</td>
                  <td>{{ bid.status.value }}</td>
                  <td>{{ bid.last_updated }}</td>
                </tr>
              {% endfor %}
            {% else %}
              {% for bid in bids %}
                <tr>
                  <td>#<a href="{{ url_for('bid.bidding', bid_id=bid.id) }} ">{{ bid.procore_bid_id }}</a></td>
                  <td>{{ bid.title }}</td>
                  <td>{{ bid.client }}</td>
                  <td>{{ bid.status.value }}</td>
                  <td>{{ bid.last_updated }}</td>
                </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </form>

  </div>
</section>

{% endblock %}

{% block scripts %}
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/biddings.js"></script>

{% endblock %}
