{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
{% endblock %}

{% block header %}
<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__inner--left">
        <a class="logo" href="#">
          <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="DDB Contracting" class="logo__img">
        </a>
        <nav class="menu__items none-underline">
          <a class="menu__item" href="{{ url_for('main.biddings') }}">Bidding</a>
          <a class="menu__item" href="{{ url_for('main.team') }}">My team</a>
          <a class="menu__item" href="{{ url_for('main.index') }}">Resources</a>
          <span class="nav-indicator"></span>
        </nav>
      </div>
      {% if current_user.is_authenticated %}
      <div class="header__inner--right">
        <div class="user-info">
          <div class="user-info__img">
            <img src="{{ url_for('static', filename='images/user-icon.svg') }}" alt="Icon">
          </div>
          <div class="user-info__details">
            <span class="flex-row">
            <div>{{current_user.username}}</div>
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle flex-row" href="#" id="userActions" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"></a>
                <div class="dropdown-menu" aria-labelledby="userActions">
                  <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
                </div>
              </li>
            </ul>
            </span>
            <p class='t-gray'>{{current_user.position}}</p>
          </div>

        </div>
      </div>
      {% endif %}
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<!-- Sidebar -->

<section class="page-section bidding d-flex tabm" id="wrapper">
  <!-- begin Sidebar -->
  <!-- <div> -->
  <div class="bg-light border-right box-shadow __side-bar-box" id="sidebar-wrapper">
    <div class="sidebar-heading">DDB Contracting</div>
    <div class="text--center list-group list-group-flush none-underline">
      <a href="#">
      <button class="ddb-cursor-handle list-group-item list-group-item-action bg-light normalized tablinks --border">
      My Bidding </button></a>
    </div>
  </div>
  <!-- </div> -->
  <!-- end Sidebar -->
  <nav class="navbar-light nav-side-bar ddb__side_bar _side-bar-size" id="ddb-background">
  </nav>
  <div class="container" id="work-item-container">

    <span>
      <select>
        <option value="Most popular" name="Most popular">Most popular</option>
        <option value="Most recent" name="Most recent">Most recent</option>
      </select>
      <button type="button" class="_btn--gray" data-toggle="modal" data-target="#exampleModal">
        Edit
      </button>
      <input type="input" style="float: right;">
      </input>
    </span>

    <form>
    <div class="margin--top">
      <table id="" class="patientsTable table table-striped table-sm">
        <thead class="bck-ground">
          <th>Bidding ID</th>
          <th>Title</th>
          <th>PM</th>
          <th>Client</th>
          <th>Satus</th>
          <th>Last updated</th>
        </thead>
        <tbody>
          <tr>
            <td><a href="{{url_for('main.bidding', item_id=12345)}}">12345</a></td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
          </tr>
          {% for work_item in work_items %}
          <tr>
            <td><a href="{{url_for('main.bidding', item_id=work_item.id)}}">{{work_item.id}}</a></td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </form>

  </div>
</section>

{% endblock %}

{% block scripts %}
<script src="/static/js/jquery.dataTables.min.js"></script>
{% endblock %}
