{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}

<section class="page-section section-block bidding d-flex overflow-x-hidden" id="wrapper">

  <!-- Sidebar -->
  <div class="sidebar-container" id="sidebar-wrapper">
    <div class="sidebar">
      <span class="sidebar__return-link t-gray">
        <a href="{{ url_for('bid.bidding', bid_id=bid.id)}}"><img src="{{ url_for('static', filename='images/right-hand.svg') }}">
        Back to editing
        </a>
      </span>
      <span class="sidebar__bid-title">{{ bid.id }} - {{ bid.client }}</span>
      <ul class="sidebar__nav-links">
        <li><a href="{{ url_for('bid.bidding', bid_id=bid.id) }}">Project General</a></li>
        <li><a href="{{ url_for('work_item.work_items', bid_id=bid.id) }}">
          Scope of Work
        </li>
        <li class="__disc-blue">
          <a href="{{ url_for('exclusion.exclusions', bid_id=bid.id) }}" class="__text-decor-active"  id='href_exclusion_id'>
            Exclusion
          </a>
        </li>
        <li><a href="{{ url_for('clarification.clarifications', bid_id=bid.id) }}">Clarification</a></li>
        <li><a href="#">Alternates</a></li>
      </ul>
    </div>
  </div>

  <nav class="navbar-light nav-side-bar ddb__side_bar _side-bar-size box-shadow" id="ddb-background">
  </nav>
  <!-- End Sidebar -->


  <!-- <div class="ddb-container"> -->
  <div class="container exclusions-container" id="exclusion-container">
    <div class="__bid-header">
      <div class="bid-header__status">Draft</div>
      <div class="bid-header__title"><strong>
        # {{ bid.id }} - {{ bid.client }}
      </strong></div>
    </div>

    <div class="container __box-table-exclusion flex-flow-wrap">
      <div class="__box-table--left">
        <form role="form" action="{{ url_for('exclusion.add_new_exclusion', bid_id=bid.id) }}" method="post">

          <div class="modal-content border-none">
            <div class="form-row __add-exclusion--box">
              <h6 class="__h6-font-style">Add exclusion item</h6>
              <div>
                {{form.title(class='_form-input')}}
                <label class="_label">Title</label>
              </div>

              <div class="__add_new_excl--margin">
                {{form.submit(class='_btn--blue ddb-cursor-handle')}}
              </div>

            </div>
          </div>
        </form>

        <form class="form" id="exclusions" role="form" action="{{ url_for('exclusion.add_exclusion_to_cart', bid_id=bid.id) }}" method="post">
          <div id="exclusionTable" class="box-shadow">

            <span class="t-gray">
              Showing {{ form.exclusions|length }} Exclusions
            </span>

            <div class="__table-item--thead">
              <div class="_cart_item--style">Exclusion item</div>
            </div>

            <div>
              {{ exclusion_cart_form.submit(class='_btn--gray _add_to_cart--float-r ddb-cursor-handle', form='exclusions') }}
            </div>

            <div>
              <table id="exclusionsTable" class="table table-striped table-sm centralized-text table__work-item">
                <thead class="bck-color-table">
                  <th></th>
                  <th>Title</th>
                  <th></th>
                </thead>
                <tbody>
                  {% for exclusion in form.exclusions %}
                  <tr>
                    <td><input class="form-control" type="checkbox" name="{{exclusion.id}}"></td>
                    <td>{{exclusion.title}}</td>
                    <td><button type="button" value="{{exclusion.id}}" class="__border-none"
                      data-toggle="modal" data-target="#exampleModal" data-target_link="{{url_for('exclusion.edit_exclusion_item', bid_id=bid.id, item_id=exclusion.id)}}"
                      data-title="{{exclusion.title}}">
                      <img src="{{ url_for('static', filename='images/edit_element.svg') }}">
                      </button>

                      <button type="button" value="{{exclusion.id}}" class="__border-none" data-toggle="modal" data-target="#modalDelete"
                      data-delete="{{exclusion.title}}" data-target_link_delete="{{url_for('exclusion.delete_exclusion_item_from_items', bid_id=bid.id, item_id=exclusion.id)}}">
                      <img src="{{ url_for('static', filename='images/delete_element.svg') }}">
                      </button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
      </div>

      <div class="__box-table--right">
        <div class="modal-content border-none" role="document">
          <h6>Exclusion items cart</h6>
        </div>

        <div class="__table-item--thead">
          <div class="_cart_item--style">Exclusion item cart</div>
        </div>

        <div class="ddb-margin-top box-scroll">
          <table id="selectedExclusionTable" class="patientsTable table table-striped table-sm centralized-text table__work-item">
            <!-- <thead><th></th><th></th></thead> -->
            <tbody>
              {% for item in exclusion_cart_form.selected_exclusions %}
              <tr>
                <td><a href="" class="t-gray">{{item.title}}</a></td>
                <td>
                  <a href="{{url_for('exclusion.delete_exclusion_item_from_cart', bid_id=bid.id, item_id=item.id)}}"><img
                      src="{{ url_for('static', filename='images/delete_element.svg') }}"></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        </form>

        <div class="box-shadow __exclusion-box--description">
        <form action="">
          <h6>Unless expressly stated, the following exclusions apply:</h6>
          <div class="_box-text--width"> {{exclusion_cart_form.result_text}} </div>
        </form>
        </div>


      </div>

      <div class="__box-add-bid-cancel--margins">
        <a class="none-underline _btn--black" href="{{ url_for('exclusion.add_exclusions_to_bid', bid_id=bid.id) }}">
          Add to bidding
        </a>
        <a class="_btn--gray" href="{{ url_for('bid.bidding', bid_id=bid.id, _anchor='bid_exclusion') }}">
            Cancel
        </a>
      </div>

    </div>
  </div>
</section>

<!-- Modal - Edit Exclusion -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content modal--padding">
      <h5 class="--padding">Edit exclusion</h5>
      <div class="modal-body padding--off">
        <form class="form" role="form" action="" method="post">
          <div class="__modal-inputs--flex-row">

            <div>
              {{form.title(class='_form-input')}}
              <label class="_label">Title</label>
            </div>

            <div class="padding--top">
              {{form.save_submit(class='_btn--gray  ddb-cursor-handle')}}
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end of Modal 1-->

<!-- Modal - Delete Exclusion -->
<div class="modal fade" id="modalDelete" tabindex="-2" role="dialog" aria-labelledby="ModalLabelDelete"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content modal--padding">
      <h5 class="--padding">Are you sure want to delete exclusion?</h5>
      <div class="modal-body padding--off">
        <form class="form_delete" role="form" action="" method="post" id="delete_item">
          <div class="__modal-inputs--flex-row">

            <div id="_exclusion_input_delete">
              <label class="_label input--label">Title</label>
              <input class="_form-input" id="title" disabled>
            </div>

            <div class="padding--top">
              <input class="_btn--black  ddb-cursor-handle" id="submit" name="submit" type="submit" value="Delete">
            </div>

            <div class="padding--top">
              <button type="button" class="btn btn-secondary ddb-cursor-handle" data-dismiss="modal">Cancel</button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end of Modal Dedelet exclusion-->

{% endblock %}

{% block scripts %}
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/exclusions.js"></script>
{% endblock %}
