{% extends 'base.html' %}

{% block content %}

<section class="page-section team">
  <div class="container">
    <div class="team__inner">
      <div class="team__header">
        <span class="counter t-gray">Showing {{ users|length }} users</span>
        <button type="button" class="_btn--blue" data-toggle="modal" data-target="#exampleModal">
          Add new
        </button>
      </div>
      <div class="team__cards">
        {% for user in users %}
          <div class="team__card">
            <img src="{{ url_for('static', filename='images/user-icon.svg') }}" alt='user-icon'>
            <div class="team__details">
              <div class="team__details__name">
                <li>{{user.username}}</li>
                <li class="t-gray">{{user.position}}</li>
              </div>
              <div class="team__details__contact">
                <li>Email: {{user.email}}</li>
                <li>Phone: {{user.phone}}</li>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <h5>Add user</h5>
        <div class="modal-body">
          <form class="form" role="form" action="{{ url_for('auth.register') }}" method="post">
            <div class="form-row">
              <div>
                {{form.username(class='_form-input _form-input--m')}}
                <label class="_label">Username</label>
              </div>

              <div>
                {{form.email(class='_form-input _form-input--m')}}
                <label class="_label">Email</label>
              </div>

              <div>
                {{form.password(class='_form-input _form-input--m')}}
                <label class="_label">Password</label>
              </div>
  
              <div>
                {{form.password_confirmation(class='_form-input _form-input--m')}}
                <label class="_label">Confirm password</label>
              </div>
            </div>
            <div class="form-row">
              <div>
                {{form.position(class='_form-input _form-input--m')}}
                <label class="_label">Position</label>
              </div>

              <div>
                {{form.phone(class='_form-input _form-input--m')}}
                <label class="_label">Phone</label>
              </div>

              <div class="team-radio-select m-1">
                <div>
                  <input type="radio" id="admin" name="user_type" value="admin"
                        checked>
                  <label for="admin">Admin</label>
                </div>
                
                <div>
                  <input type="radio" id="user" name="user_type" value="user">
                  <label for="user">Non admin</label>
                </div>

              </div>
            </div>
        </div>
        <div class="bt_add-new-user">
          {{form.submit(class='_btn--black')}}
        </div>
      </div>
    </div>
  </div>
{% endblock %}