{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
{% endblock %}


{% block content %}
<section class="section">
  <!-- Sidebar -->
  <div class="sidebar-container">
    <nav class="sidebar">
      <h3 class="sidebar__return-link">Back to editing</h3>
      <h5 class="sidebar__bid-title">{{ bid.id }} - {{ bid.title }}</h5>
      <ul class="sidebar__nav-links">
        <li><a href="#">Project General</a></li>
        <li><a href="#">Scope of Work</a></li>
        <li><a href="#">Select Work Item</a></li>
        <li><a href="#">Exclusion</a></li>
        <li><a href="#">Clarification</a></li>
        <li><a href="#">Alternates</a></li>
      </ul>
    </nav>
  </div>
  <!-- End Sidebar -->

  <!-- Chart Container -->
  <div class="main-container">
    <div class="main-container__bid-header">
      <div class="bid-header__status"></div>
      <div class="bid-header__title"></div>
    </div>
    <div class="main-container__body">
      <div class="chart-left">
        <!-- Left Chart -->
        <div class="chart-left__header">
          <div class="chart-left__header-search">
            <div class="search-item-bar">
              <input type="search" name="" id="">
            </div>
            <div class="chart-left__header-add-item">
              <input type="text" name="" id="">
              <input type="text" name="" id="">
              {{form.submit(class='_btn--blue')}}
            </div>
          </div>
        </div>
        
        <span class="t-gray">Showing {{ form.work_items|length }} items</span>

        <table id="workItemsTable" class="table table-striped table-sm">
          <thead class="__table--head">
            <th></th>
            <th>Code</th>
            <th>Name</th>
            <th>Edit</th>
          </thead>
          <div>
            {{ work_cart_form.submit(class='_btn--gray __add_to_cart--place', form="work_items") }}
          </div>
          <tbody>
            {% for work_item in form.work_items %}
            <tr>
              <td><input class="form-control" type="checkbox" name="{{work_item.id}}"></td>
              <td><span class="t-gray">{{work_item.code}}</span></td>
              <td>{{work_item.name}}</td>
              <td><button type="button" value="{{work_item.id}}"
                  data-toggle="modal" data-target="#exampleModal" data-target_link="{{url_for('work_item.edit_work_item', item_id=work_item.id)}}"
                  data-code="{{work_item.code}}" data-name="{{work_item.name}}">
                  <img src="{{ url_for('static', filename='images/edit_element.svg') }}" id="test_t">
                </button>

                <button type="button" value="{{work_item.id}}" data-toggle="modal" data-target="#modalDeleteWorkItem"
                data-delete_work_item="{{work_item.code}}" data-work_item_name="{{work_item.name}}"
                data-target_link_work_item_delete="{{url_for('work_item.delete_work_item_from_items', item_id=work_item.id)}}">
                <img src="{{ url_for('static', filename='images/delete_element.svg') }}">
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- End Left Chart -->

      <!-- Right Chart -->
      <div class="chart-right">
        <div class="chart-right__header">
          <span><strong>Work Items Cart</strong></span>
          <div class="chart-left__header-add-group">
            <input type="text" name="" id="">
          </div>
        </div>
        
        <table id="selectedWorkItemsTable" class="table table-striped table-sm">
          <thead class="__table--head">
            <th>Code</th>
            <th>Name</th>
            <th>Delete</th>
          </thead>
          <tbody>
            {% for item in work_cart_form.selected_work_items %}
            <tr>
              <td><a href="" class="t-gray">{{item.code}}</a></td>
              <td>{{item.name}}</td>
              <td>
                <a href="{{url_for('work_item.delete_work_item_from_cart', item_id=item.id)}}"><img
                    src="{{ url_for('static', filename='images/delete_element.svg') }}"></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        
        <div class="chart-right__buttons">
          <button class="_btn--black">
            Add to bidding
          </button>
          <button class="_btn--gray">
            <a href="{{ url_for('bidding.biddings') }}">Cancel</a>
          </button> 
        </div>
      </div>
      <!-- End Right Chart -->
    </div>
  </div>
  <!-- End Chart Container -->
  

</section>

{% endblock %}

{% block scripts %}
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/work_items.js"></script>
{% endblock %}