{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
{% endblock %}

{% block header %}
<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__inner--left">
        <a class="logo" href="#">
          <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="DDB Contracting" class="logo__img">
        </a>
        <nav class="menu__items">
          <a class="menu__item" href="{{ url_for('main.index') }}">Bidding</a>
          <a class="menu__item" href="#">My team</a>
          <a class="menu__item" href="#">Resources</a>
          <span class="nav-indicator"></span>
        </nav>
      </div>
      {% if current_user.is_authenticated %}
      <div class="header__inner--right">
        <div class="user-info">
          <div class="user-info__img">
            <img src="{{ url_for('static', filename='images/user-icon.svg') }}" alt="Icon">
          </div>
          <div class="user-info__details">
            <p>{{current_user.username}}</p>
            <p class='t-gray'>{{current_user.position}}</p>
          </div>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="userActions" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"></a>
              <div class="dropdown-menu" aria-labelledby="userActions">
                <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</header>
{% endblock %}

{% block content %}


<section class="page-section section-block bidding d-flex tabm" id="wrapper">
  <!-- begin Sidebar -->
  <!-- <div> -->
  <div class="bg-light border-right box-shadow __side-bar-box" id="sidebar-wrapper">
    <div class="sidebar-heading">DDB Contracting</div>
    <div class="text--center list-group list-group-flush none-underline">
      <a href="{{ url_for('main.biddings') }}">
        <button class="ddb-cursor-handle list-group-item list-group-item-action bg-light normalized tablinks">
          My Bidding </button></a>
      <select class="ddb-cursor-handle list-group-item list-group-item-action bg-light normalized tablinks --border">
        Scope of work
        <option value=""><a href="{{ url_for('work_item.work_items') }}">Select Work Item</a></option>
      </select>
      <a href="{{ url_for('exclusion.exclusions') }}">
        <button class="ddb-cursor-handle list-group-item list-group-item-action bg-light normalized tablinks">
          Exclusions
        </button> </a>
      <a href="{{ url_for('clarification.clarifications') }}">
        <button class="ddb-cursor-handle list-group-item list-group-item-action bg-light normalized tablinks">
          Clarifications
        </button> </a>
    </div>
  </div>
  <!-- </div> -->
  <!-- end Sidebar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom nav-side-bar" id="ddb-background">

    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
    <!-- Login/Logout -->
    <!-- <ul class="navbar-nav ml-auto">
          {% if current_user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userActions" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">{{current_user.username | capitalize}}</a>
            <div class="dropdown-menu" aria-labelledby="userActions">
              <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
            </div>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
          </li>
          {% endif %}
        </ul> -->
    <!-- </div> -->
  </nav>
  <!-- <div class="ddb-container"> -->
  <div class="container" id="work-item-container">

    <div>
      <div class="title-tabs">Work items</div>
    </div>
    <!-- <div class=""> -->
      <div class="container __box-table-work_item flex-flow-wrap">
        <div class="__box-table--left">


            <div class="modal-content border--none">
              <form role="form" action="{{ url_for('work_item.work_item') }}" method="post"></form>
              <div class="form-row __add-work-item--box">
                <h6 class="__h6--width">Add work item</h6>
                <div>
                  {{form.code(class='_form-input _form-input--m')}}
                  <label class="_label">Code</label>
                </div>
                <div class="margin-left">
                  {{form.name(class='_form-input _form-input--m')}}
                  <label class="_label">Name</label>
                </div>

                <!-- <div>
            <label class="_label">Name</label>
            <textarea class='_form-input _form-input--m' name="" id="" cols="30" rows="10"></textarea>
            </div> -->
                <div class="bt_add-new-user">
                  {{form.submit(class='_btn--blue')}}
                </div>
              </form>

                <div>
                  {{ work_cart_form.submit(class='_btn--gray __add_to_cart--place', form="work_items") }}
                </div>
              </div>
            </div>


          <form class="form" id="work_items" role="form" action="{{ url_for('work_item.add_work_item_to_cart') }}" method="post">
            <div id="workItemTable" class="box-shadow __box-table--mtop">
              <span>
                <select>
                  <option value="Most popular" name="Most popular">Most popular</option>
                  <option value="Most recent" name="Most recent">Most recent</option>
                </select>
                <!-- <button type="button" class="_btn--blue" data-toggle="modal" data-target="#exampleModal">
              Add new
            </button> -->
              </span>

              <div>
                <table id="workItemsTable" class="patientsTable table table-striped table-sm table__work-item">
                  <thead class="__table--head">
                    <th></th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Edit</th>
                  </thead>
                  <tbody>
                    {% for work_item in form.work_items %}
                    <tr>
                      <td><input class="form-control" type="checkbox" name="{{work_item.id}}"></td>
                      <td><a href="" class="t-gray">{{work_item.code}}</a></td>
                      <td>{{work_item.name}}</td>
                      <td><button type="button" value="{{work_item.id}}" style="border: none;"
                          data-toggle="modal" data-target="#exampleModal" data-target_link="{{url_for('work_item.edit_work_item', item_id=work_item.id)}}"
                          data-code="{{work_item.code}}" data-name="{{work_item.name}}">
                          <img src="{{ url_for('static', filename='images/edit_element.svg') }}" id="test_t">
                        </button>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
        </div>

        <div class="__box-table--right">
          <div class="modal-content border--none" role="document">
            <h6>Work items cart</h6>
          </div>
          <div class="__box-table--mtop">
            <table id="selectedWorkItemsTable" class="patientsTable table table-striped table-sm table__work-item">
              <thead class="__table--head">
                <th>Code</th>
                <th>Name</th>
                <th>Delete</th>
              </thead>
              <tbody>
                {% for item in work_cart_form.selected_work_items %}
                <tr>
                  <td><a href="" class="t-gray">{{item.code}}</a></td>
                  <td>{{item.name}}</td>
                  <td>
                    <a href="{{url_for('work_item.delete_work_item_from_cart', item_id=item.id)}}"><img
                        src="{{ url_for('static', filename='images/delete_element.svg') }}"></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          </form>

          <button class="_btn--gray" style="float: right; margin-top: 3rem;">
            Cancel
          </button>
          <button class="_btn--black" style="float: right; margin-top: 3rem;">
            Add to bidding
          </button>

        </div>

      </div>
    <!-- </div> -->
  </div>
  </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content modal--padding">
      <h5 class="--padding">Edit work item</h5>
      <div class="modal-body padding--off">
        <form class="form" role="form" action="" method="post">
          <div class="__modal-inputs--flex-row">

            <div>
              {{form.code(class='_form-input _form-input--m')}}
              <label class="_label">Code</label>
            </div>

            <div>
              {{form.name(class='_form-input _form-input--m')}}
              <label class="_label">Name</label>
            </div>

            <div class="padding--top">
              {{form.edit_submit(class='_btn--gray  ddb-cursor-handle')}}
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end of Modal -->

<!-- <button type="button" value="" class="btn btn-primary btn-danger ml-auto mr-3" -->
{% endblock %}

{% block scripts %}
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/work_items.js"></script>
{% endblock %}